<ng-template #editBlockModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="modalHeader" class="MediumSubline1H4 modal-title">Edit Block</span>
        <dfn class="def"><span class="infoIcon uk-icon" uk-icon="info" id="whiteInfoIcon"></span>
            <span rel="def">Edit a saved Block. Scenarios that use this block will be updated.
            </span>
        </dfn>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div (keydown)="enterSubmit($event)">
        <div class="title">
            <div class="BlockHeaderWarning">
                <em class="material-icons">warning</em>
                <p>Changes to a Block will be applied to EVERY Scenario referencing this Block.<br>
                    This might result in Breaking Changes!</p>
                <em class="material-icons">warning</em>
            </div>
            <div class="BlockHeaderContainer">
                <div>
                    <span id="scenarioHeader" class="Smallnavigation2">Block</span>
                    <dfn class="def"><span class="infoIcon uk-icon" uk-icon="info"></span>
                        <span rel="def" id="blockInfoTextPosition">A Block contains Steps and can be used across
                            Scenarios.
                            Scenarios, that have a Reference to the Block will be changed, if the Block is changed.
                        </span>
                    </dfn>
                </div>
                <div>
                    <span *ngIf="this.selectedBlock" id="scenarioTitle" class="MediumHeadline5"># {{selectedBlock.name
                        }}</span>
                </div>
            </div>
        </div>

        <app-base-editor #baseEditor [templateName]="TEMPLATE_NAME" [testRunning]="testRunning"
            [newlySelectedScenario]="selectedScenario" [newlySelectedStory]="selectedStory"
            [originalStepTypes]="originalStepTypes" [selectedBlock]="selectedBlock"></app-base-editor>
    </div>
</ng-template>