<div class="overlay">
    <div class="popup">
        <div class="contentError" *ngIf="type==='error'">
            <p>{{ message }}</p>
            <button id="returnButtonError" class="normalButton" (click)="navigateToLogin();">Okay</button>
        </div>
        <div class="contentSuccess" *ngIf="type==='success'">
            <p>{{ message }}</p>
            <button id="returnButtonSuccess" class="normalButton" (click)="navigateToLogin();">Return to login</button>
        </div>
    </div>
</div>