<div class="overlay">
  <div class="popup">
    @if (type()==='error') {
      <div class="contentError">
        <p>{{ message() }}</p>
        <button id="returnButtonError" class="normalButton" (click)="navigateToLogin();">Okay</button>
      </div>
    }
    @if (type()==='success') {
      <div class="contentSuccess">
        <p>{{ message() }}</p>
        <button id="returnButtonSuccess" class="normalButton" (click)="navigateToLogin();">Return to login</button>
      </div>
    }
  </div>
</div>