.uk-card-title {
    font-size: medium;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}


.blockNameContainer{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    display: flex;
}

.blockNameHeader{
    font-size: 16px;
    margin-right: 10px;
}

.blockNameInput{
    max-width: 300px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.submitForm{
    width: 100%
}

table {
    width: 100%;
    margin-top:5px;
}

.tableContainer{
    max-height: 600px;
    overflow-y: auto;
    margin: 5px
}

.mat-mdc-table .mat-mdc-cell:first-child{
    border-right: 1px solid #e0e0e0;
}

.mat-mdc-cell {
    text-align: center;
}

td.mat-mdc-cell {
    text-align: start;
    padding: 5px;
}

td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type{
    padding-right: 0px;
    word-break: break-all;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type{
    padding-left: 0px;
}

::ng-deep div.mat-mdc-list-item-content.mat-mdc-list-item-content-reverse .deleteBlockButton{
    margin-right: 20px;
}

::ng-deep div.mat-mdc-list-item-content.mat-mdc-list-item-content-reverse div.mat-mdc-list-text{
    display: flex;
    flex-direction: row;
}

@media screen and (max-height: 800px) {

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

.infoIcon{
    color: var(--white);
    margin-left: 5px;
    margin-right: 5px;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}

label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 130px;
}

.modalsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-3%, 0);
    width: 110%;
   
} 
