  <!--Save Block Form Modal-->
  <ng-template #saveBlockFormModal let-modal style="transform: translate(-3%, 0);
  width: 110%;">
    <!-- If no block name given submits placeholder title -->
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
      <span id="modalHeader" class="MediumSubline1H4 modal-title">Save as block</span>
      <dfn class="def"><span class="infoIcon" uk-icon="info"></span>
        <span rel="def">Saving multiple steps as block, can be used to add these steps in another scenario without much effort. 
          Just click the Add Saved Block button next to the Save button. These saved blocks can be used only in this project.
        </span>
      </dfn>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #saveBlockForm="ngForm" novalidate (ngSubmit)="onSubmit(saveBlockForm)">
      <div class="modal-body modal-xl">
        <div class="uk-card-title submitForm">
          <div class="blockNameContainer modalsContent">
              <div class="uk-form-label" id="inputLabels">
                <label>Enter block name*</label>
                <input type="text" id="blockNameInput" ngModel pattern="\S(.*\S)?" name="blockNameInput" placeholder="New block" class="blockNameInput leftMargin" required>
              </div>
          </div>
          <div class="tableContainer">
            <span class="blockNameHeader blockNameHeader">Selected Steps</span>
            <table id="blockStepTable" mat-table [dataSource]="stepListSaveBlock" class="mat-elevation-z8" aria-describedby="mydesc2">
              <ng-container matColumnDef="stepType">
                <td mat-cell *matCellDef="let element" style="text-transform: capitalize"> 
                  <ng-container *ngIf="element.stepType!='example'">{{element.stepType}}</ng-container>
                  <ng-container *ngIf="element.stepType=='example'">Multiple Scenario</ng-container></td>
              </ng-container>
              <ng-container matColumnDef="pre">
                <td mat-cell *matCellDef="let element"> 
                  <ng-container *ngIf="element.stepType!='example'">{{element.pre}} {{element.values[0]}} {{element.mid}} {{element.values[1]}} {{element.values[2]}} {{element.values[3]}}</ng-container>
                  <ng-container *ngIf="element.stepType=='example'"><ng-container *ngFor="let el of element.values">{{el}} | </ng-container></ng-container></td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsSaveBlock;"></tr>
            </table>
          </div>
          <div class="exampleCheckboxContainer" *ngIf="exampleBlock">
              <input class="exampleCheckbox" type="checkbox" [checked]="this.exampleChecked" (click)="exampleCheck()">
              <label class="exampleCheckboxLabel" (click)="exampleCheck()">Examples only?</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isBackground == true" class="normalButton" type="button" (click)="closeModal()">Discard saving</button>
        <button class="normalButton" type="submit" [disabled]="!saveBlockForm.valid"
        [ngStyle]="{'opacity': !saveBlockForm.valid ?  '50%' : '100%'}">Submit
        </button>
      </div>
    </form>
  </ng-template>
