.uk-card-title {
    font-size: medium;
}

::ng-deep .modal-dialog{
    max-width: 800px;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.blockNameContainer{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    display: flex;
}

.blockNameHeader{
    font-size: 18px;
    margin-right: 10px;
}

.blockNameInput{
    max-width: 300px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.def {
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}

.submitForm{
    width: 100%
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

table {
    width: 100%;
    margin-top:5px;
}

.tableContainer{
    max-height: 600px;
    overflow-y: auto;
    margin: 5px
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
}

.mat-cell, .mat-header-cell {
    text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse .deleteBlockButton{
    margin-right: 20px;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse div.mat-list-text{
    display: flex;
    flex-direction: row;
}

@media screen and (max-height: 800px) {

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

.infoIcon{
    color: var(--white);
    margin-left: 5px;
    margin-right: 5px;
}

