.grid {
/*display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "storyHeader" "storyList";*/
  margin-top: 24px;
  border: 1px solid #999;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
  background-color: var(--white);
  margin-bottom: 20px;
  height: 88vmin;
  display: block;

}

.darkTheme.grid {
  background-color: #455A64;
  border-color: #60767b;
}

.uk-background-muted {
  background-color: #f8f8f8;
}
mat-tab-group{
  height: calc(100% - 65px);
}

.itemListDiv{
  height: calc(100% - 125px);
}

.storyListDivNotCustom{
  height: calc(100% - 110px);
}

.storyListDivWithFilter{
  height: calc(100% - 185px);
}

.itemListDiv>ul, .storyListDivNotCustom>ul, .storyListDivWithFilter>ul{
  height: 100%;
  overflow: scroll;
}

.darkTheme.uk-background-muted {
  background-color: #546E7A
}


#storyHeader{
  grid-area: storyHeader;
}
#groupHeader{
  grid-area: storyHeader;
}

.infoIcon{
grid-area: storyHeader;
color: #999;
padding-top: 3px;
margin-left: 7px;
}

#createNewStoryDiv{
  text-align: right;
}
#createNewGroupDiv{
  text-align: right;
}

#add_scenario{
  color:  var(--ocean-blue);
  font-size: 24px;
  float: right;
  cursor: pointer;
  border: none;
  line-height: 25px;
  background: none;
}

.darkTheme #add_scenario {
  color: var(--light-blue);
}

.modal-title{
  color: var(--white);
}
.modal-header{
  background-color: var(--ocean-blue);
}

.modal-body{
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

li{
  list-style: none;
}

.modal-footer{
  height: 60px;
}

.close{
  color: white;
  outline: none;
}
.icon{
  font-size: 14px;
  vertical-align: text-bottom;
  display: inline;
}

.jiraGithubStoryIcons{
  float: right;
}
.toTicket{
  color: var(--ocean-blue);
  font-size: 17px;
  transform: translate(1px, 2px);
  border: none;
  background: transparent;
  margin-left: 1px;
}
.toTicket > em{
  background: transparent;
  border: none;
  margin-right: 2px;

}
a.storyListLink {
  transition: 0.2s;
  display: inline-block;
  max-width: 63%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.normalButton{
  margin-bottom: 10px;
}

a.storyListLink:hover{
  color: var(--dark-grey);
}

.darkTheme a.storyListLink:hover {
  color: white;
}

#storyList{
  grid-area: storyList;
  /*font-size: smaller;*/
  transition: 0.1s;
  display: block;
  white-space: nowrap;
}
#groupList{
  grid-area: groupList;
  /* font-size: smaller; */
  transition: 0.1s;
  display: block;
  white-space: nowrap;
  position: relative;
}
.groupLinkList{
  position: absolute;
  /* z-index: 50; */
}
.groupIconSpan{
  white-space: nowrap;
  float: right;
  /* z-index: 100; */
  position: relative;
}
#groupEdit{
  float: right;
  color: var(--ocean-blue);
  cursor: pointer;
}
#groupPlay{
  float: right;
  color: var(--ocean-blue);
  cursor: pointer;
}

#storyList:hover{
  cursor: pointer;
  background-color: #f1f1f1;
}

.darkTheme #storyList:hover {
  background-color: #90A4AE;
}
.scenarioListItem{
  display: block;
}
.scenarioListItem:hover{
  background-color: #f1f1f1;
}

.darkTheme .scenarioListItem:hover {
  background-color: #90a4ae;
}

.uk-accordion{
  width: 100%;
}

.uk-accordion-content {
  font-size: small;
}

.uk-accordion-content a{
  color: #56595e;
}

.darkTheme .uk-accordion-content a{
  color:#90A4AE;
}

/* .uk-accordion-content .passed,
.uk-accordion-title.uk-background-muted .passed{
  color: green !important;
} */

/* .darkTheme .uk-accordion-content .passed,
.darkTheme .uk-accordion-title.uk-background-muted .passed{
  color: #4CAF50 !important;
} */

/* .uk-accordion-content .notPassed,
.uk-accordion-title.uk-background-muted .notPassed{
  color: red !important;
} */

/* .darkTheme .uk-accordion-content .notPassed,
.darkTheme .uk-accordion-title.uk-background-muted .notPassed{
  color: red !important;
} */

/* .uk-accordion-title.uk-background-muted span.passed{
  background-color: green !important;
} */

/* .darkTheme .uk-accordion-title.uk-background-muted span.passed {
  background-color: #4CAF50 !important;
} */

/*  .uk-accordion-title.uk-background-muted span.notPassed{
  background-color: red !important;
} */

/* .darkTheme .uk-accordion-title.uk-background-muted span.notPassed{
  background-color: red !important;
} */

.drag-handle{
  cursor: move;
  color: var(--ocean-blue);
  display: inline-block;
  vertical-align: middle;
}

.storyFilterWrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.searchBarWrapper{
  display: flex;
  white-space: nowrap;
}
.storyBar{
  display: inline-block;
  vertical-align: middle;
}
.searchBar{
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  align-self: center;
}
#eraseIcon{
  color: var(--brown-grey);
  vertical-align: middle;
  /* border-bottom: 1px solid var(--brown-grey); */
  position: relative;
  left: -19px;
}
#eraseIcon:hover{
  cursor: pointer;
}
.searchInput{
  border: none;
  border-bottom: 1px solid var(--brown-grey);
  font-weight: normal;
  width: 62%;
}

.darkTheme .searchInput {
  border-bottom: 1px solid #60767b;
}
.searchInput:focus{
  outline: none;
}

.filterFormField{
  width: 45%;
  margin: 6px;
}

.rightFilterFormField{
  float: right;
}

#clickableIcon:hover{
  cursor: pointer;
}
::ng-deep .mat-icon{
  height: unset;
}

@media screen and (max-width: 600px) {
.grid{
    display: grid;
    grid-template-areas:
    "storyHeader"
    "storyList";
}
}
.darkTheme .uk-accordion-title::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMThweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDEzaC02djZoLTJ2LTZINXYtMmg2VjVoMnY2aDZ2MnoiLz48L3N2Zz4=);
  width: 19px;
  height: 19px;
}

.darkTheme .uk-open > .uk-accordion-title::before  {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMThweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDEzSDV2LTJoMTR2MnoiLz48L3N2Zz4=);
  width: 19px;
  height: 19px;
}

.darkTheme ::-webkit-scrollbar-corner{
  background: none !important;
}
::-webkit-scrollbar{
  width: 10px; /* Adjust the width as needed */
}

.tab-icon{
  color: var(--brown-grey);
  margin-bottom: 12px;
  margin-right: 2px;
}

::ng-deep .mat-mdc-tab-label {
  font-size: 19px;
}

::ng-deep .mat-mdc-tooltip {
  font-size: 13px  !important ;
}


