  .grid {
    /*display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "storyHeader" "storyList";*/
    margin-top: 24px;
    border: 1px solid #999;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
    background-color: var(--white);
  }


  #storyHeader{
    grid-area: storyHeader;
  }
  #groupHeader{
    grid-area: storyHeader;
  }

  .infoIcon{
    grid-area: storyHeader;
    color: #999;
    padding-top: 3px;
    margin-left: 7px;
  }

  .def {
    color: #999;
    cursor: help;
    position: relative;
    z-index: 2;
    top: -2px;
  }
  
  .def span[rel=def] {
    display: none;
  }
  
  .def:hover span[rel=def] {
    font-size: small;
    color: white;
    background-color: rgb(109, 109, 109);
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
  }

 


  #createNewStoryDiv{
    text-align: right;
  }
  #createNewGroupDiv{
    text-align: right;
  }

  .modal-title{
    color: var(--white);
  }
  .modal-header{
    background-color: var(--ocean-blue);
  }

  .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .modal-footer{
    height: 60px;
  }

  .close{
    color: white;
    outline: none;
  }

  .github-avatar{
    float: right;
  }

  a.storyListLink {
    transition: 0.2s;
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .normalButton{
    margin-bottom: 10px;
  }

  a.storyListLink:hover{
    color: var(--dark-grey);
  }

  #storyList{
    grid-area: storyList;
    font-size: smaller;
    transition: 0.1s;
  }
  #groupList{
    grid-area: groupList;
    font-size: smaller;
    transition: 0.1s;
  }
  #groupEdit{
    float: right;
    color: var(--ocean-blue);
    cursor: pointer;
  }
  #groupPlay{
    float: right;
    color: var(--ocean-blue);
    cursor: pointer;
  }

  #storyList:hover{
    cursor: pointer;
    background-color: #f1f1f1;
  }
  .scenarioListItem{
    display: block;
  }
  .scenarioListItem:hover{
    background-color: #f1f1f1;
  }

  .uk-accordion{
    width: 100%;
  }
  
  .uk-accordion-content {
    font-size: small;
  }

  .uk-accordion-content a{
    color: #56595e;
  }

  .uk-accordion-content .passed,
  .uk-accordion-title.uk-background-muted .passed{
    color: green;
  }
  
  .uk-accordion-content .notPassed,
  .uk-accordion-title.uk-background-muted .notPassed{
    color: red;
  }

  .uk-accordion-title.uk-background-muted span.passed{
    background-color: green;
  }

  .uk-accordion-title.uk-background-muted span.notPassed{
    background-color: red;
  }
  
@media screen and (max-width: 600px) {
  .grid{
      display: grid;
      grid-template-areas:
      "storyHeader"
      "storyList";
  }
}
