<div class="grid">
  <div>
    <br>
      <div class="uk-card-title"><span id="storyHeader">Stories</span>
      <dfn class="def"><span id="infoIcon" uk-icon="info"></span>
        <span rel="def">A user story describes requirements for a software system.
          It is consciously kept in short sentences and simple words.
          A story includes several scenarios.
          The following template is recommended:
          As a <...>, I want <...> so that <...>
        </span></dfn>
    </div>
    <hr>
    <ul uk-accordion>
      <li *ngFor="let s of getSortedStories(); let i = index ">
        <div id="storyList" (click)="selectStoryScenario(s)" class="uk-accordion-title uk-background-muted" >
          <a maxlength="10" id="{{'story' + i}}" uk-tooltip="pos:right; delay: 200" title="{{s.body}}">
            {{s.issue_number}}. {{s.title | slice:0:25 | titlecase }}
          </a>
          <span class="github-avatar">
            <img *ngIf="s.assignee_avatar_url == null" src="assets/unassigned_avatar.png" alt="assignee github avatar" width="20px" height="20px">
            <img *ngIf="s.assignee_avatar_url != null" [src]=s.assignee_avatar_url alt="assignee github avatar" width="20px" height="20px">
              {{s.assignee}}</span>
        </div>

        <div class="uk-accordion-content">
          <li *ngFor="let scen of s.scenarios; let c = index">
            <a [class.notPassed]="!scen.lastTestPassed && scen.lastTestPassed != undefined" [class.passed]="scen.lastTestPassed && scen.lastTestPassed != undefined" [class.notTested] ="" (click)="selectScenario(s.story_id, scen);" id="{{'scenario' + c}}">#{{s.issue_number}}.{{c+1}} {{scen.name | titlecase}}</a>
          </li>
        </div>
      </li>
    </ul>
    <div *ngIf="db">
      <label>
        Title <input id="storytitle">
      </label>
      <label>
        Description <input id="storydescription">
      </label>
      <button type="button" class="uk-button" (click)="createnewStory()">Create new Story</button>
    </div>
  </div>
</div>
