<div uk-grid>

  <div class="uk-width-1-5">
    <div class="uk-text-emphasis uk-text-uppercase uk-text-bold">STORIES</div>
    <ul uk-accordion>
      <li *ngFor="let s of stories; let i = index ">
        <div (click)="selectStory(s)" class="uk-accordion-title uk-background-muted">
          <a maxlength="10">
            #{{i+1}} {{s.title | slice:0:25 }}
          </a>
          <a uk-icon="icon: info" data-uk-tooltip title="{{s.body}}"></a>
          <!-- <span class="uk-label">{{s.assignee}}</span> -->
        </div>
        <div class="uk-accordion-content">
          <a uk-icon="icon: plus-circle" data-uk-tooltip title="Add new scenario" (click)="addScenario(s.story_id)"></a>
          <li *ngFor="let scen of s.scenarios; let c = index">
            <a href="#" (click)="selectScenario(s.story_id, scen);">#{{i+1}}.{{c+1}} {{scen.name}}</a>
          </li>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="(showEditor === true)" class="uk-width-2-3">
    <div class="uk-card uk-card-default" >
      <div class="uk-card-title uk-padding">
        {{selectedScenario.name}}
        <a href="#changeScenario" uk-icon="icon: pencil" data-uk-tooltip title="Change Scenario Title" uk-toggle (click)="renameScenario();"></a>
        <div class="uk-align-right">
          <a  class="uk-icon-button uk-background-red" data-uk-tooltip title="Delete Scenario" uk-icon="trash" (click)="deleteScenario();"></a>
          <button data-uk-tooltip title="Edit Scenario."  *ngIf="editorLocked === false;" (click)="lockEditor();" class="uk-button uk-button-secondary" type="button">
            <a uk-icon="icon: lock"></a>
          </button>
          <button data-uk-tooltip title="Close Editing and Save Scenario." *ngIf="editorLocked === true;" (click)="updateScenario(selectedStory.story_id, selectedScenario);"  class="uk-button uk-button-success" type="button">
            <a uk-icon="icon: unlock"></a>
          </button>
        </div>
      </div>
    </div>
    <br />

      <div class="uk-card uk-card-default uk-padding" >
        <div class="uk-card-title">
          1. Given
          <div class="uk-align-right">
            <button class="uk-button uk-button-primary" type="button"><a uk-icon="icon: plus"></a></button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngFor="let sd of stepDefinitions; let i = index;">
                  <a *ngIf="sd.stepType == 'given'" (click)="addStepToScenario(sd);" href="#">{{sd.type}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <li *ngFor="let given of selectedScenario.stepDefinitions[0].given; let i = index;">
          1.{{i+1}} {{given.pre}}
          <input type="text" value="{{given.name}}"/>
          {{given.post}}</li>
        <br />

        <div class="uk-card-title">
          2. When
          <div class="uk-align-right">
            <button class="uk-button uk-button-primary" type="button"><a uk-icon="icon: plus"></a></button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngFor="let sd of stepDefinitions; let i = index;">
                  <a *ngIf="sd.stepType == 'when'" (click)="addStepToScenario(sd);" href="#">{{sd.type}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <li *ngFor="let when of selectedScenario.stepDefinitions[0].when; let i = index;">
          2.{{i+1}} {{when.pre}}
          <input type="text" value="{{when.name}}"/>
          {{when.post}}</li>
        <br />

        <div class="uk-card-title">
          3. Then
          <div class="uk-align-right">
            <button class="uk-button uk-button-primary" type="button"><a uk-icon="icon: plus"></a></button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngFor="let sd of stepDefinitions; let i = index;">
                  <a *ngIf="sd.stepType == 'then'" (click)="addStepToScenario(sd);" href="#">{{sd.type}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <li *ngFor="let th of selectedScenario.stepDefinitions[0].then; let i = index;">
          3.{{i+1}} {{th.pre}}
          <input type="text" value="{{th.name}}"/>
          {{th.post}}</li>
      </div>
  </div>

</div>

<div id="changeScenario" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2>Change Scenario Title</h2>
    <input type="text" [value]="selectedScenario.name" #ScenarioName />

    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
      <button class="uk-button uk-button-primary uk-modal-close" (click)="renameScenario($event, ScenarioName.value)" type="button">Save</button>
    </p>
  </div>
</div>
