.uk-accordion-title, .uk-accordion-content, .uk-label {
  font-size: small;
}

.uk-background-red {
  background: red;
}

.uk-background-green {
  background: #32d296;
}

.disabled {
  color: gray !important;
  background: white !important;;
}

.uk-card-title {
  font-size: medium;
  font-weight: bold;
}

