* {
  padding: 0px;
  margin: 0px;
}

.def {
	color: #999;
	cursor: help;
  position: relative;
}

.def span[rel=def] {
	display: none;
}

.def:hover span[rel=def] {
  font-size: small;
  color: white;
	background-color: rgb(109, 109, 109);
	position: absolute;
	bottom: 2em;
	left: 2em;
	width: 30em;
  padding: 0.5em;
  display: block;
}

#scenarioHeader{
  color: #999;
  font-size: 20px;
  font-weight: bold;
}

#scenario{
  border: 1px solid #999;

}

.uk-card-title {
  font-size: medium;
  font-weight: bold;
}

#scenarioTitle{
  color: #56595e;
  font-weight: bold;
  font-size: 17px;
}


#infoIcon{
  color: #999;
  margin-left: 5px;
  margin-right: 5px;
}

#buttonGroupScenario{
  margin-right: 20px;
}

.uk-button-group{
  border-radius:4px;
  border:2px solid rgb(255, 255, 255);
}

.uk-button-icon{
  padding-left:0;
  padding-right:0;
}

.button {
  margin-right: 3px;
  color:#ffffff;
  padding: 0px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #0099CC;
  background: #0099CC;
  background: -moz-linear-gradient(top,  #0099CC,  rgb(2, 111, 161));
  line-height: 38px;
  text-transform: uppercase;
}

.modalMargin{
  margin-left: auto !important;
  margin-right: auto !important;
}
.button:hover {
  background: rgb(2, 111, 161);
}
.padding{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

#scenario_shift_left{
  color: #0099CC;
}

#scenario_change_title{
  color: #0099CC;
}

.iconButton {
  border: none;
  background-color: #ffffff;
  padding: 0px;
  border-radius: 10%;
}

.iconButton em{
  vertical-align:middle;
  color: #0099CC;
  border-radius: 10%;
}

.iconButton em:active {
  background-color: #0099CC;
  color: #ffffff;
}



.buttonGroup{
  text-align: center;
  margin-left: 10px;
  color: #0099CC;
}

.uk-dropdown{
  padding: 15px;
}

.uk-nav > li > span{
  padding: 1px;
  cursor: pointer;
}

.uk-nav > li > .dropdownStep {
  color:#0099CC;
}  
  
.uk-nav > li > span:hover {
    color: gray;
}

.uk-nav > li > .dropdownStepUndefined {
  color:#000080;
}

.addStepButtons{
  color: rgba(7, 142, 187, 0.733);
}

.disabled {
  color: gray !important;
  background: white !important;
}

.disabled em{
  color: gray !important;
  background: white !important;
}

.text-inline{
  font-weight:normal;
}

.uk-card-footer{
  padding-bottom: 0;
}

.disabledButton{
  visibility: hidden;
  background:#dddddd
}

.testButtons{
  padding-left:10px;
  padding-right:10px;
}

table {
  width: 100%;
}

.comment > textarea {
  width: 60%;
  height: 50px;
}