* {
  padding: 0px;
  margin: 0px;
}

.def {
	color: #999;
	cursor: help;
  position: relative;
  top: -2px;
}

.def span[rel=def] {
	display: none;
}

.scenarioHeaderContainer{
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
}

input[type="text"]{
  margin: 1px;
  padding: 1px;
  border: none;
  border-bottom: 1px solid #333;
  position: relative;
  top: -2px;
  width: auto;
  min-width: 5px;
}

.dragIconContainer{
  text-align: center;
  cursor: move;
}

em.dragIcon{
  font-size: 18px;
  color: black;
  background-color: var(--white);
  margin-top:3px
}

.text-inline{
  display: flex;
}

.text-inline > button{
  margin: 0 5px;
}

.text-inline > p > input{
  margin: 0 5px;
}

.def:hover span[rel=def] {
  font-size: small;
  color: var(--white);
	background-color: rgb(109, 109, 109);
	position: absolute;
	bottom: 2em;
	left: 2em;
	width: 30em;
  padding: 0.5em;
  display: block;
}

#scenario{
  border: 1px solid #999;
}

.uk-card-title {
  font-size: medium;
  font-weight: bold;
}

#infoIcon{
  color: #999;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 770px;
}

#infoIconScenario{
  color: #999;
  margin-left: 5px;
  margin-right: 5px;
}

.uk-button-group{
  border-radius:4px;
  border:2px solid rgb(255, 255, 255);
}

.checkbox{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 3px
}

.checkbox:hover{
  cursor: pointer;
}

#checkbox_all_example{
  margin-left: 10px;
}

#checkbox_all{
  margin-left: 6px;
}
.scenarioBarContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  margin: 0px 20px;
}

.exampleBarContainer{
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: flex;
}

.scenarioBarContainer button,
.exampleBarContainer button{
  border: none;
  background: none;
  transform: translate(0px, -3px);
  height: 24px;
  border-radius: 10%;
}

.scenarioBarContainer > div,
.exampleBarContainer{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: flex;
  height: 40px;
}

.scenarioButton {
  margin-right: 10px;
}

.actionButton{
  margin-left: 10px;
}

.actionButton > em{
  color: #333;
  font-size: 22px;
}

.scenarioButton em{
  color:  var(--ocean-blue);
}

.scenarioButton em:active {
  background-color: var(--ocean-blue);
  color: var(--white);
}

.button {
  margin-right: 3px;
  color:var(--white);
  padding: 0px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px var(--ocean-blue);
  background: var(--ocean-blue);
  background: -moz-linear-gradient(top,  var(--ocean-blue),  rgb(2, 111, 161));
  line-height: 38px;
  text-transform: uppercase;
}
.marginButton{
  margin: 5px;
}
.modal-title{
  color: var(--white);
}

.modal-header2{
  background-color: var(--ocean-blue);
  padding: 15px;
  margin-bottom: 5px;
}

.modalMargin{
  margin-left: auto !important;
  margin-right: auto !important;
}
.button:hover {
  background: rgb(2, 111, 161);
}
.padding{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.scenarioTitle{
  background: var(--white);
  border: none;
}

.scenarioTitle > em{
  color:  var(--ocean-blue);
  font-size: 20px;
  transform: translate(0px, 3px)
}

#scenario_change_title > em {
  font-size: 20px;
  margin: 0px 5px;
}

.scenarioButton_unsaved em{
  color: red;
}

.disabled input{
  color: gray;
  border-bottom: 1px solid gray;
}

.uk-dropdown{
  padding: 15px;
}

.uk-nav > li > span{
  padding: 1px;
  cursor: pointer;
}

.uk-nav > li > .dropdownStep {
  color:var(--ocean-blue);
}

.uk-nav > li > span:hover {
    color: gray;
}

.uk-nav > li > .dropdownStepUndefined {
  color:var(--marine-blue);
}


.disabled {
  color: gray !important;
  background: var(--white) !important;
  font-style: italic;
  text-decoration: line-through;
}

.scenarioBarContainer .disabled em{
  color: gray !important;
  background: #f8f8f8 !important;
}

.uk-card-footer{
  padding-bottom: 0;
}

.disabledButton{
  visibility: hidden;
  background:#dddddd
}

table {
  width: 100%;
}

.comment > textarea {
  width: 60%;
  height: 50px;
}

.stepsListContainer{
  display: flex;
  justify-content: space-between;
}

.stepsListContainer em{
  color: var(--ocean-blue);
}

.stepsListContainer .disabled em{
  color: gray;
}

.stepsListContainer button{
  border: none;
  background: none;
}