.uk-accordion-title, .uk-accordion-content, .uk-label {
  font-size: small;
}

.uk-accordion{
  width: 100%;
}

.def {
	color: #999;
	cursor: help;
	position: relative;
}

.def span[rel=def] {
	display: none;
}

.def:hover span[rel=def] {
  font-size: small;
  color: white;
	background-color: rgb(109, 109, 109);
	position: absolute;
	bottom: 2em;
	left: 2em;
	width: 30em;
  padding: 0.5em;
  display: block;
}

#scenario{
  border: 1px solid #999;
}

#submitWarningHeader{
  color: #999;
}

#submitWarning{
  color: #999;
}


