  <!--Scenario Header-->
  <div class="uk-card uk-card-default padding" id="scenario">
    <div class="title">
      <span id="scenarioHeader">Scenario</span>
        <dfn class="def"><span id="infoIcon" uk-icon="info"></span>
            <span rel="def">Each scenario is an example describing a specific behavioral aspect of the system.
              It makes statements about how the system behaves when a particular action is executed taking into account certain preconditions.
              A scenario consists of individual steps:
                   Given (precondition),
                   When (action) and
                   Then (desired result)
                  </span></dfn>
        <button id="scenario_shift_left" *ngIf="!arrowLeft"  uk-icon="icon: arrow-left" data-uk-tooltip
        title="Previous Scenario" (click)="scenarioShiftLeft();"></button>
      <span *ngIf="this.selectedScenario" id="scenarioTitle">#{{selectedScenario.name | titlecase}}</span>
      <button id="scenario_change_title" href="#changeScenario" uk-icon="icon: pencil" data-uk-tooltip
        title="Change Scenario Title" uk-toggle></button>
      <div id="buttonGroupScenario" class="uk-align-right">
        <button id="new_scenario" class="buttonGroup iconButton" [class.disabled]="testRunning" [disabled]="testRunning" uk-tooltip="Creates New Scenario" type="button" (click)="addScenarioToStory(selectedStory.story_id)">
          <em class="material-icons">add</em>
        </button>
        <button id="scenario_delete" [class.disabled]="testRunning" [disabled]="testRunning"
          class="buttonGroup iconButton" data-uk-tooltip title="Delete Scenario"
          (click)="deleteScenario($event);">
          <em class="material-icons">delete</em>
        </button>
        <button id="scenario_save" [class.disabled]="testRunning" [disabled]="testRunning" class="buttonGroup iconButton" data-uk-tooltip
          title="Save Scenario"
          (click)="updateScenario(selectedStory.story_id);">
          <em class="material-icons">save</em>
        </button>
        <button id="scenario_shift_right" class="buttonGroup" *ngIf="!arrowRight" uk-icon="icon: arrow-right" data-uk-tooltip
          title="Next Scenario" (click)="scenarioShiftRight();"></button>
      </div>
    </div>
  
    <div class="uk-card-title padding">
      <div *ngIf="this.selectedScenario">
      <div *ngFor="let sd of getKeysList(this.selectedScenario.stepDefinitions);let i = index;">
        <div *ngIf="sd == 'given'">{{i+1}}. Given (Precondition)</div>
        <div *ngIf="sd == 'when'">{{i+1}}. When (Action)</div>
        <div *ngIf="sd == 'then'">{{i+1}}. Then (Result)</div>
        <div *ngIf="sd == 'example'; then exampleTitle"></div>

        <div class="uk-float-right">
          <button *ngIf="sd != 'example'" id="{{'scenario_add_step' + i}}" [class.disabled]="(this.selectedScenario.stepDefinitions.example.length <= 0 && sd === 'example')" [disabled]="(this.selectedScenario.stepDefinitions.example.length <= 0 && sd === 'example')" uk-icon="icon: plus-circle"
            class="addStepButtons" title="Add New Step" uk-tooltip></button>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li *ngFor="let step of originalStepTypes; let j = index;" >
                <span [ngClass]="(step.type !== this.newStepName)?'dropdownStep' : 'dropdownStepUndefined'" id="{{'scenario_add_step_' + i + '_type_' + j}}" *ngIf="step.stepType===sd" (click)="addStepToScenario(selectedStory.story_id,step);">
              {{step.type}}</span>
              </li>
            </ul>
          </div>
          <div *ngIf="sd == 'example'">
            <div *ngFor="let step of originalStepTypes; let j = index;" >
              <button *ngIf="step.stepType===sd" id="{{'scenario_add_step' + i}}" [class.disabled]="(this.selectedScenario.stepDefinitions.example.length <= 0 && sd === 'example')" [disabled]="(this.selectedScenario.stepDefinitions.example.length <= 0 && sd === 'example')" uk-icon="icon: plus-circle"
              class="addStepButtons" (click)="addStepToScenario(selectedStory.story_id,step);" title="Add New Variable" uk-tooltip></button>
            </div>
          </div>
        </div>
        <div class="uk-steps " *ngIf= "sd != 'example'; else exampleCondition">
          <div cdkDropList (cdkDropListDropped)="onDropScenario($event,selectedScenario.stepDefinitions, i)">
            <div class="text-inline getBackgroundList" [class.outdated]="currentStep.outdated" *ngFor="let currentStep of getStepsList(selectedScenario.stepDefinitions,i); let j=index;" cdkDrag>
              <button id="{{'scenario_' + i + '_delete_step_' + j}}" a
                uk-icon="icon: minus-circle" class="uk-text-danger" uk-tooltip title="Delete Step"
                (click)="removeStepFromScenario(currentStep.stepType, j);">
              </button>
              {{i+1}}.{{j+1}} {{currentStep.pre}}
              <p style="display:inline" *ngIf="currentStep.values.length > 0">
                <input id="{{'scenario_' + i + '_input_pre_' + j}}" #step_type_input1
                 type="text" value="{{currentStep.values[0]}}" on-change="addToValues(step_type_input1.value,currentStep.stepType,currentStep, j, 0)" />
                 {{currentStep.mid}}
                <input id="{{'scenario_' + i + '_input_mid_' + j}}"#step_type_input2 *ngIf="currentStep.values[1] != null"
                 type="text" value="{{currentStep.values[1]}}" on-change="addToValues(step_type_input2.value,currentStep.stepType,currentStep, j, 1)" />
              </p>
              {{currentStep.post}}
              <input id="{{'scenario_' + i + '_input_post_' + j + '_index_' + m}}"#step_type_input3 *ngFor="let value of currentStep.values | slice:2; let m = index;"
                type="text" value="{{value}}" on-change="addToValues(step_type_input3.value,currentStep.stepType,currentStep, j , m + 2)" />
                <div *ngIf="currentStep.outdated">
                  <dfn class="def"><span id="infoIcon" uk-icon="info"></span>
                    <span rel="def">
                      This step got updated. Please check if the implemented logic is still valid. When you've adjusted the step, save the scenario to confirm your adjustments.
                          </span></dfn>
                </div>
            </div>
          </div>
          <br>
        </div>
        <br>
        <ng-template #exampleTitle>
          Example (Cases)
        </ng-template>
        <ng-template #exampleCondition>
          <app-example-table #exampleChildView [newSelectedScenario]="selectedScenario" (removeRowIndex)="removeRowIndex($event);"></app-example-table>
        </ng-template>
      </div>
      <br>
      <div class="comment">
          <label>Comment</label><br>
          <textarea *ngIf="this.selectedScenario" cols="50" rows="5" #comment type="text" value="{{selectedScenario.comment}}" on-change="commentChange(comment.value)">
          </textarea>
      </div>
      <br>
    </div>
  </div>

<app-submitform #submitForm></app-submitform>

  <div id="changeScenario" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modalMargin padding">
      <h2 class="padding">Change Scenario Title</h2>
      <input *ngIf="this.selectedScenario" id="scenarioName" type="text" [value]="selectedScenario.name" #ScenarioName />
      <p class="uk-text-right">
        <button id="change_scenario_title_cancel" class="button uk-modal-close" type="button">Cancel</button>
        <button id="change_scenario_title_save" class="button uk-modal-close" (click)="renameScenario($event)"
          type="button">Save</button>
      </p>
    </div>
  </div>
