.mat-column-checkStory {
    width: 10% !important;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}

.normalButton:disabled{
    opacity: 20%;
}

label {
    float: left;
    margin-left: -227px;
    padding: 5px 0.5px 0;
    position: relative;
    text-align: right;
    width: 280px;
}

.modalsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
