<div class="topnav">
  <!--center-->
  <div class="topnav-center">
    <a href="https://cucumber-app.herokuapp.com/" class="title">
      <h4 id="cucumberApp">Seed-Test</h4>
    </a>
  </div>
  <!--left-->
  <div class="topnav-left">
    <a id="img" href="https://www.adesso.de/en/">
      <img src="assets/adesso-logo.jpg" alt="adesso AG">
    </a>
    <a href="https://cucumber-app.herokuapp.com/feedback">
      <button class="left-button">Feedback</button>
    </a>
    <div class="dropdown">
      <button class="left-button">Help</button>
      <div class="dropdown-list">
        <a href="https://github.com/adessoCucumber/Cucumber/wiki/Tutorial">Tutorial (german)</a>
        <a href="https://github.com/adessoCucumber/Cucumber/wiki/Tutorial_eng">Tutorial (english)</a>
      </div>
    </div>
  </div>
  <p id="version">Version 0.1.0</p>
  <!--right-->
  <div class="topnav-right">
    <span *ngIf="this.token || this.repository"> 
      <div class="dropdown">
        <button id="repositories" class="right-button" title="Select Repository">Repositories</button>
        <ul class="dropdown-list">
          <li *ngFor="let repository of repositories; let i = index" >
            <a id="{{'repository_' + i}}" (click)="selectRepository(repository);"
             href="#">{{repository}}</a>
          </li>
        </ul>
      </div>
      <button id="logout" class="right-button" title="Logout" (click)="logout();">Logout</button>
      <a class="repoButton" id="githubHref" href="https://github.com/adessoCucumber/Cucumber" uk-icon="github"></a>
    </span>
  </div>
</div>

<router-outlet></router-outlet>
