/* * {
  padding: 0px;
  margin: 0px;
} */
/* Refactor this*/
.grid {
  /* background-color: var(--light-grey); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "topnav"
    "router"
    "footer";

  /*Below provides sticky footer*/
  min-height: 100vh;
}

.router {
  grid-area: router;
  /* background-color: var(--light-grey); */
}

.topnav {
  /* background-color: #999; */
  background-color: var(--dark-grey);
  grid-area: topnav;
  display: grid;
  grid-template-columns: 3fr auto 1fr auto 3fr;
  grid-template-areas: "left . center . right";
  height: 51px;
}

.darkTheme .topnav {
  background-color: #000000;
}

.topnavRight {
  grid-area: right;
  justify-self: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 10px;
}

.topnavLeft {
  grid-area: left;
  align-self: center;
  justify-self: left;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.topnavCenter {
  grid-area: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

#version {
  color: var(--light-grey);
  padding: 17px;
}

.impressum,
.terms {
  text-align: center;
  color: var(--white);
  font-size: small;
  margin: 0px;
}

.footer {
  grid-area: footer;
  display: grid;
  background-color: var(--dark-grey);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    ". footerCenter adessoLogo"
    "expendable expendable expendable";
  justify-items: center;
}

.darkTheme .footer {
  background-color: #000000;
}

.footerCenter {
  grid-area: footerCenter;
  grid-column-start: 2;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.expendable {
  grid-area: expendable;
}

.footerCenter > p {
  padding: 0px 15px;
  align-self: center;
  justify-content: center;
}

.adessoLogo {
  grid-area: adessoLogo;
  justify-self: flex-end;
}

.impressum:hover,
.terms:hover {
  text-decoration: underline;
  cursor: pointer;
}

.impressumContent,
.termsContent {
  display: block;
  text-align: center;
}

.impressumContent p,
.impressumContent a,
.termsContent a,
.termsContent p {
  color: var(--white);
  text-align: center;
  font-size: x-small;
}

#adesso-logo {
  padding: 5px;
  height: 40px;
}

.rightButton {
  background-color: transparent;
  color: var(--white);
  padding: 5px;
  height: 100%;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  vertical-align: middle;
}

.rightButton:hover,
.menuButton:hover {
  color: var(--light-grey);
}

a:hover {
  color: var(--ocean-blue);
}

#logo {
  height: 51px;
}

.menuButton {
  color: var(--white);
  outline: none;
  font-style: inherit;
  border: 0px;
  background: transparent;
  float: left;
  transition: 0.3s;
  margin-left: 10px;
}

.rightArrow {
  color: var(--dark-grey);
  outline: none;
  font-style: inherit;
  border: 0px;
  background: transparent;
  float: left;
  transition: 0.3s;
  margin-left: 10px;
  font-size: 20px;
}

#menu {
  padding-left: 10;
}

.dropdown-list {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
  z-index: 99999 !important;
  list-style-type: none;
  overflow: visible;
  top: 51px;
  left: 0;
  padding: 0;
  max-height: inherit;
  height: auto;
  min-width: auto;
  transform: translateY(-30%); /* Initially off-screen to the left */
  transition: visibility 0s linear 0.5s, opacity 0.45s ease, transform 0.5s ease; /* Apply transition for both hover and non-hover states */
}

.darkTheme .dropdown-list {
  background-color: #60767b;
  border: 1px solid #455a64;
}

.dropdown-list a {
  overflow: auto;
  color: var(--black);
  padding: 12px 16px;
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  height: fit-content;
}

.darkTheme .dropdown-list a {
  color: white;
}

.dropdown-list li {
  text-align: center;
}

.dropdown-list a:hover {
  color: var(--ocean-blue);
}

.dropdownReposTrigger:hover .dropdown-repos {
  display: block;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo_img {
  margin-left: 10px;
  margin-right: 5px;
  max-height: 20px;
  width: 20px;
}
.repoButton {
  /* margin-right: 10px;
  margin-left: 5px; */
  margin-left: 13px;
  margin-right: 13px;
  outline: none;
}

#githubHref {
  color: var(--white) !important;
  transition: 0.3s;
}

#githubHref:hover {
  color: var(--light-grey);
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnavRight {
    float: none;
    /* display: block; */
  }

  .topnavCenter a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnavRight {
    text-align: center;
  }

  .topnavRight {
    text-align: center;
  }

  .rightButton {
    font-size: 13px;
  }
}

.closedMenu {
  display: none;
}

.slide-toggle-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 848px) {
  .slide-toggle-container {
    display: none;
  }
}

.mat-mdc-slide-toggle {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
  display: inline-flex;
}

.mat-icon {
  vertical-align: middle;
}

.dropdown-list-item {
  z-index: 99999 !important;
}

#defaultVersionWarning {
  color: var(--pumpkin-orange);
}

/*--------------------------------------*/

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
  z-index: 999999 !important;
}

.helpContainer {
  position: relative;
}

#versionContainer {
  transition: transform 0.5s ease; /* Glatter Übergang für die Bewegung */
  z-index: 50;
}

#menuText {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateX(-30%); /* Initially off-screen to the left */
  transition: visibility 0s linear 0.5s, opacity 0.45s ease, transform 0.5s ease; /* Apply transition for both hover and non-hover states */
  color: var(--light-grey);
  width: 138px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuContainer:hover:not(:has(#versionContainer:hover)) #menuText {
  visibility: visible;
  opacity: 1;
  transform: translateX(0); /* Move into view on hover */
  transition-delay: 0s; /* Apply transition immediately on hover */
}

.menuContainer:hover:not(:has(#versionContainer:hover)) #versionContainer {
  transform: translateX(100px); /* Verschiebt die Box um 100px nach rechts */
}

.menuContainer:hover:not(:has(#versionContainer:hover)) .dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Move into view on hover */
  transition-delay: 0s; /* Apply transition immediately on hover */
  pointer-events: all;
}

.menuContainer:hover:not(:has(#versionContainer:hover)) #menuButton {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.helpContainer:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Move into view on hover */
  transition-delay: 0s; /* Apply transition immediately on hover */
  pointer-events: all;
}

.helpContainer:hover .rightButton {
  color: var(--light-grey);
}

/* # SLIDER --------------------- */

.toggle-btn {
  position: relative;
  width: 40px; /* Adjusted from 70px */
  height: 20px; /* New height */
  margin: 0 auto;
  border-radius: 11px; /* Adjusted for new size ratio */
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_1st-toggle-btn span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  background-color: var(--light-grey);
  border-radius: 11px; /* Adjusted */
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 2px; /* Adjusted */
  width: 16px; /* Adjusted */
  height: 16px; /* Adjusted */
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: var(--light-grey);
  transform: translate(-16px, 0); /* Adjusted */
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: hwb(48 0% 0%);
  transform: translate(2px, 0); /* Adjusted */
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #37474f;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #37474f;
  transform: translate(14px, -5px); /* Adjusted */
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: var(--light-grey);
  transform: translate(22px, 0); /* Adjusted */
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-repos {
  background-color: var(--light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -1px;
  left: 100%;
  display: none;
  max-height: 550px;
  position: absolute;
  display: block;
  overflow-y: auto;
  width: max-content;
  transform: translateX(-30%); /* Initially off-screen to the left */
  transition: visibility 0.3s linear 0.5s, opacity 0.45s ease,
    transform 0.5s ease;
  pointer-events: none;
}

.darkTheme #dropdown-repos {
  background-color: #60767b;
  border: 1px solid #455a64;
}

.dropdown-list-item-repos {
  padding: 8px;
}

#projectsMenuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#arrowRight {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

#projectsMenuButton #arrowRight {
  transition: translateX 0.4s ease-in-out, transform 0.45s ease-in-out;
}

#projectsMenuButton:hover #arrowRight {
  transform: translateX(10px) rotate(90deg);
}

#projectsMenuButton:hover #dropdown-repos {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.35s;
  pointer-events: all;
}
