*{
  padding: 0px;
  margin: 0px;
}
/* Refactor this*/

.footer{
  background-color: #999;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
  transform: translate(0, 25%);
}

.footer > p{
  display: inline;
  padding: 0px 15px;
  justify-content: center;
}

.impressum, .terms {
  text-align: center;
  color: white;
  font-size: small;
  padding: 4px;
  position: center;

}

.impressum:hover,
.terms:hover{
  text-decoration: underline;
  cursor: pointer;
}
.impressumContent,
.termsContent{
  display: block;
}

.impressumContent p,
.impressumContent a,
.termsContent a,
.termsContent p{
  color: white;
  text-align: center;
  font-size: x-small;
}

#version {
  float: left;
  padding: 13px;
  color: #56595e;
}

.left-button {
  background-color: #999;
  color: white;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.left-button:hover {
  color: #56595e;
}

a:hover{
  color:#0099CC;
}

#cucumberApp{
  color: white;
  padding: 10px;
  font-size: 25pt;
  font-weight: bold;
  font-variant: small-caps;
}


img {
  height: 55px;
}
#adesso-logo {
   padding: 5px;
   height: 40px;
   float: right;
   position: relative;
 }

#logo {
  height: 51px;
}

.topnav{
  background-color: #999;
  position: relative;
  overflow: hidden;
  height: 50px;
}

.topnav a {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav-center a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.topnav-left {
  float:left;
  height: 50px;
}

.topnav-left a{
  transform: translate(0%, 0%);
}

.topnav-right{
  float: right;
}

.topnav-right a{
  float: right;
  padding: 12px;
  margin-top: 4px;
}

.right-button{
  border: 1px solid transparent;
  padding: 7px 12px;
  margin: 5px;
  cursor: pointer;
  font: inherit;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.right-button#logout{
  border: solid 1px #f07289;
  background: #0099CC;
  background: -moz-linear-gradient(top,  #f07289, #f0506e);
  background-color: #f0506e;
  color:#fff;
}

.right-button#logout:hover {
  background: #f0506e;
}

.right-button#repositories{
  color: #56595e;
  border: solid 1px #b6b6b6;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff, #b6b6b6);
  background-color: #b6b6b6;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-list{
  display: none;
  position: fixed;
  background-color:  #f8f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}

.dropdown-list a{
  overflow: auto;
  color: #56595e;
  padding: 12px 16px;
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.dropdown-list li{
  text-align: center;
}

.dropdown-list a:hover{
  color: #0099CC;
}

.dropdown:hover .dropdown-list{
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-center a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnav-right{
    text-align: center;
  }
}
