<div class="grid">
  <div class="topnav">
    <!--left-->
    <div class="uk-inline">
      <button *ngIf="this.apiService.isLoggedIn()" class="menuButton material-icons" title="menu">menu</button>
      <div *ngIf="this.apiService.isLoggedIn()" uk-dropdown="mode: click">
        <ul class="menulist">
          <li>
            <div *ngIf="this.repositories" class="dropdown">
              <button class="menuSelection" title="Select Repository">Repositories</button>
                <div uk-dropdown="mode: click">
                  <ul class="dropdown-list">
                   <li *ngFor="let repository of repositories; let i = index" class="list-item">
                     <img class="repo_img" *ngIf="this.apiService.isGithubRepo(repository)" src="../assets/GitHub-Mark-32px.png">
                     <img class="repo_img" *ngIf="this.apiService.isJiraRepo(repository)" src="../assets/jira-logo-gradient-blue@2x-300x177.png">
                     <img class="repo_img" *ngIf="this.apiService.isCustomRepo(repository)"  src="../assets/database-5-32.png">
                     <a id="{{'repository_' + i}}" (click)="selectRepository(repository);"
                      href="#">{{repository.value}}</a>
                   </li>
                  </ul>
                </div>
            </div>
          </li>
          <li>
            <button id="manageAccount" class="menuSelection" title="Account Settings" (click)="manageAccount();">Account Settings</button>
          </li>
          <li>
            <button class="menuSelection"  id="logout" title="Logout" (click)="logout();">Logout</button>
          </li>
        </ul>
      </div>
      <p id="version">Version 1.2.0</p>
    </div>


    <!--center-->
    <div class="topnavCenter">
      <a routerLink="/" class="title">
        <h4 id="seedTest">
          <img id="logo" src="assets/seed-test-logo1.png" alt="Seed-Test">
        </h4>
      </a>
    </div>
    <!--right-->
    <div class="topnavRight">
      <div>
        <a routerLink="/feedback">
          <button class="rightButton">Feedback</button>
        </a>
        <div class="dropdown">
          <button class="rightButton">Help</button>
            <div class="dropdown-list">
              <a rel="noopener noreferrer" href="https://github.com/adessoAG/Seed-Test/wiki/Tutorial_deu" target="_blank">Tutorial (german)</a>
              <a rel="noopener noreferrer" href="https://github.com/adessoAG/Seed-Test/wiki/Tutorial_eng" target="_blank">Tutorial (english)</a>
            </div>
        </div>
        <a class="repoButton" id="githubHref" href="https://github.com/adessoAG/Seed-Test" uk-icon="github"></a>
      </div>
    </div>
  </div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer" class="footer">
    <div class="footerCenter">
      <p class="impressum" id="impressum" (click)="openImpressum();">Impressum</p>
      <p class="terms" (click)="openTerms()">Terms</p>
    </div>
    <div class="adessoLogo">
      <a href="https://www.adesso.de/en/">
        <img id="adesso-logo" src="assets/adesso-logo.jpg" alt="adesso AG">
      </a>
    </div>
    <div class="expendable">
      <div id="impressumContent" class="impressumContent" *ngIf="showImpressum">
        <p>Seed-Test</p>
        <p>Email: seed-test@adesso.de</p>
        <a rel="noopener noreferrer" href="https://github.com/adessoAG/Seed-Test" target="_blank">https://github.com/adessoAG/Seed-Test</a>
      </div>
      <div id="termsContent" class="termsContent" *ngIf="showTerms">
        <p>This is only a demo version of an open source application</p>
        <p>The maker of this service is not liable for the user and its data</p>
        <a rel="noopener noreferrer" href="https://github.com/adessoAG/Seed-Test/blob/master/LICENSE" target="_blank">It is licenced under the MIT Licence</a>
        <p><a routerLink="/terms" target="_blank">For more information</a></p>
      </div>
    </div>
  </footer>
</div>
