*{
  padding: 0px;
  margin: 0px;
}
/* Refactor this*/
.grid{
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "topnav"
  "router"
  "footer";
  
  /*Below provides sticky footer*/
  min-height: 100vh;
}

.router{
  grid-area: router;
  background-color: rgb(224, 224, 224);
}


.topnav{
  background-color: #999;
  grid-area: topnav;
  display: grid;
  grid-template-columns: 3fr auto 1fr auto 3fr;
  grid-template-areas: 
  "left . center . right";
}

.topnav a {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnavRight{
  grid-area: right;
  align-self: center;
  justify-self: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.topnavCenter{
  grid-area: center;
  align-self: center;
}

.topnavRight a{
  padding: 12px;
}

#version {
  color: #56595e;
  align-self: center;
  padding: 13px;
}

.impressum, .terms {
  text-align: center;
  color: white;
  font-size: small;
  padding: 4px;
  position: center;

}

.footer{
  grid-area: footer;
  display: grid;
  background-color: #999;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 
  ". footerCenter adessoLogo"
  "expendable expendable expendable";
  justify-items: center;
}

.footerCenter{
  grid-area: footerCenter;
  grid-column-start: 2;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.expendable {
  grid-area: expendable;
}

.footerCenter > p {
  padding: 0px 15px;
  align-self: center;
  justify-content: center;

}

.adessoLogo{
  grid-area: adessoLogo;
  justify-self: flex-end;
}

.impressum:hover,
.terms:hover{
  text-decoration: underline;
  cursor: pointer;
}

.impressumContent,
.termsContent{
  display: block;
  text-align: center;
}

.impressumContent p,
.impressumContent a,
.termsContent a,
.termsContent p{
  color: white;
  text-align: center;
  font-size: x-small;
}

#adesso-logo {
  padding: 5px;
  height: 40px;
}

.rightButton {
  background-color: #999;
  color: white;
  padding: 13px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;  
}

.rightButton:hover, .menuButton:hover {
  color: rgb(121, 121, 121);
}

a:hover{
  color:#0099CC;
}

#logo {
  height: 51px;
}

.menuButton{
  color: white;
  outline: none;  
  font-style: inherit;
  padding: 13px 20px;
  border: 0px;
  background: #999;
  float: left;
  transition: 0.3s;
}

.right-button:focus {outline:0 !important;}

.right-button#logout{
  border: solid 1px #f07289;
  background: -moz-linear-gradient(top,  #f07289, #f0506e);
  color:#fff;
  background-color: #f1647e;
}

.menulist{
  list-style: none;
  background-color: #f8f8f8;
}

.menuSelection{
  font-size: 100%;
  font-style: inherit;
  padding: 12px 16px;
  border: 0px;
  background-color: #f8f8f8;
  color: #56595e;
  outline: none;  
}

.menuSelection:hover{
  color: #0099CC;
}

.menuSelection#logout:hover{
  color: #f0506e;
}

/*dropdown general*/

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-list{
  display: none;
  position: fixed;
  background-color:  #f8f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  overflow-y: auto;
  max-height: 70%;
  height: auto;
}

.dropdown-list a{
  overflow: auto;
  color: #56595e;
  padding: 12px 16px;
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.dropdown-list li{
  text-align: center;
}

.dropdown-list a:hover{
  color: #0099CC;
}

.dropdown:hover .dropdown-list{
  display: block;
}

.repoButton{
  margin-right: 10px;
  margin-left: 5px;
  outline: none;  
}

#githubHref{
  color: white;
  transition: 0.3s;
}

#githubHref:hover{
  color: rgb(121, 121, 121);
}

@media screen and (max-width: 600px) {
  .topnav a, .topnavRight {
    float: none;
    display: block;
  }

  .topnavCenter a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnavRight{
    text-align: center;
  }

  .topnavRight{
    text-align: center;
  }
}
