<nav  class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a href="https://www.adesso.de/en/">
      <img src="assets/adesso-logo.jpg" alt="adesso AG">
    </a>
  </div>
  <div class="uk-navbar-center">
      <h4 class="uk-heading-primary uk-text-large">Cucumber-App</h4>
  </div>
  <div class="uk-navbar-right">
      <button class="uk-button" title="Select Repository" uk-tooltip>Repositories</button>
      <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li *ngFor="let repository of repositories;" >
                <a  (click)="selectRepository(repository);"
                 href="#">{{repository}}</a>
            </li>
          </ul>
        </div>
    <a href="https://github.com/fr4gstar/Cucumber" uk-icon="github"></a>
  </div>
</nav >

<app-parent></app-parent>
