*{
  padding: 0px;
  margin: 0px;
}
/* Refactor this*/
.grid{
  /* background-color: var(--light-grey); */ 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "topnav"
  "router"
  "footer";

  /*Below provides sticky footer*/
  min-height: 100vh;
}

.router{
  grid-area: router;
  /* background-color: var(--light-grey); */
}


.topnav{
  /*background-color: #999;*/
  background-color: var(--dark-grey);
  grid-area: topnav;
  display: grid;
  grid-template-columns: 3fr auto 1fr auto 3fr;
  grid-template-areas:
  "left . center . right";
}

.topnav a {
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnavRight{
  grid-area: right;
  align-self: center;
  justify-self: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  height: 51px;
}

.topnavCenter{
  grid-area: center;
  align-self: center;
  height: 51px;
}

.topnavRight a{
  padding: 12px;
  height: 51px;
}


#version {
  color: var(--light-grey);
  padding: 17px;
}

.impressum, .terms {
  text-align: center;
  color: var(--white);
  font-size: small;
  padding: 4px;
  position: center;

}

.footer{
  grid-area: footer;
  display: grid;
  background-color: var(--dark-grey);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
  ". footerCenter adessoLogo"
  "expendable expendable expendable";
  justify-items: center;
}

.footerCenter{
  grid-area: footerCenter;
  grid-column-start: 2;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.expendable {
  grid-area: expendable;
}

.footerCenter > p {
  padding: 0px 15px;
  align-self: center;
  justify-content: center;

}

.adessoLogo{
  grid-area: adessoLogo;
  justify-self: flex-end;
}

.impressum:hover,
.terms:hover{
  text-decoration: underline;
  cursor: pointer;
}

.impressumContent,
.termsContent{
  display: block;
  text-align: center;
}

.impressumContent p,
.impressumContent a,
.termsContent a,
.termsContent p{
  color: var(--white);
  text-align: center;
  font-size: x-small;
}

#adesso-logo {
  padding: 5px;
  height: 40px;
}

.rightButton {
  background-color: transparent;
  color: var(--white);
  padding: 13px;
  padding: 2px !important;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  vertical-align: middle;
}

.rightButton:hover, .menuButton:hover {
  color: var(--light-grey);
}

a:hover{
  color: var(--ocean-blue);
}

#logo {
  height: 51px;
}

.menuButton{
  color: var(--white);
  outline: none;
  font-style: inherit;
  padding: 12px 20px;
  border: 0px;
  background: transparent;
  float: left;
  transition: 0.3s;
}

.menuSelection{
  font-size: 100%;
  font-style: inherit;
  padding: 12px 16px;
  border: 0px;
  background-color: transparent;
  color: var(--black);
  outline: none;
}

.menuSelection:hover{
  color: var(--ocean-blue);
}

.menuSelection#logout:hover{
  color: var(--grape);
}

/*dropdown general*/

.dropdown{
  position: relative;
  display: inline-block;
  height: 51px;
}

.dropdown-list{
  display: none;
  position: fixed;
  background-color: var(--light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  overflow-y: auto;
  max-height: 70%;
  height: auto;
}

.darkTheme .dropdown-list {
  background-color: #60767b;
}

.dropdown-list a{
  overflow: auto;
  color: var(--black);
  padding: 12px 16px;
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.dropdown-list li{
  text-align: center;
}

.dropdown-list a:hover{
  color: var(--ocean-blue);
}

.dropdown:hover .dropdown-list{
  display: block;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo_img{
  margin-left: 10px;
  margin-right: 5px;
  max-height: 20px;
}
.repoButton{
  margin-right: 10px;
  margin-left: 5px;
  outline: none;
}

#githubHref{
  color: var(--white);
  transition: 0.3s;
}

#githubHref:hover{
  color: var(--light-grey);
}

@media screen and (max-width: 600px) {
  .topnav a, .topnavRight {
    float: none;
    display: block;
  }

  .topnavCenter a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnavRight{
    text-align: center;
  }

  .topnavRight{
    text-align: center;
  }

}
