# See http://help.github.com/ignore-files/ for more about ignoring files.

#deploy on heroku
heroku_push.bat

# compiled output
/dist
/tmp
/out-tsc
/frontend/dist

# dependencies
/frontend/node_modules
/backend/node_modules
/node_modules

# IDEs and editors
.idea/workspace.xml
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# environment variables
.env
environment.prod.ts
envrionment.ts

# System Files
.DS_Store
Thumbs.db


frontend/coverage
!frontend/coverage/lcov.info
frontend/\.editorconfig

frontend/dist/cucumber-frontend/3rdpartylicenses\.txt

frontend/dist/cucumber-frontend/assets/adesso-logo\.jpg

frontend/dist/cucumber-frontend/favicon\.ico

frontend/dist/cucumber-frontend/index\.html

frontend/dist/cucumber-frontend/main\.e9313b2cc4f34e15a426\.js

frontend/dist/cucumber-frontend/polyfills\.f6ae3e8b63939c618130\.js

frontend/dist/cucumber-frontend/runtime\.06daa30a2963fa413676\.js

frontend/dist/cucumber-frontend/scripts\.1783ec7bceeab4026a81\.js

frontend/dist/cucumber-frontend/styles\.929c34a151987d4e0622\.css

.eslintrc.json

tslint.json

frontend/src/environments/environment.ts

frontend/src/coverage/
sonar-project.properties
.scannerwork

# Cucumber & Reports
**/*.feature
backend/features/reporting_*.json
backend/features/reporting_html*.html

# Batches for install, update and start
install.bat
start.bat
update.bat

