<br>
<div [class.darkTheme]="isDarkModeOn()"
class="reportHistoryContainer">
    <div class="reportHistoryTitleContainer">
        <div>
            <a class="title">
                <button class="backButton" title="Back to Projects" (click)="goBackToStoryEditor()">
                    <img id="backImage" [attr.src]="isDark ? '../assets/leftWhite.png' : '../assets/left.svg'">
                </button>
            </a>
        </div>
        <div>
            <p class="LargeHeadline3 headline" *ngIf="this.selectedStory">Reports: {{this.selectedStory.title}}</p>
        </div>
    </div>
    <div class="disclaimerContainer">
        <p class="SmallHeadline5" >Disclaimer: Currently only the last 3 reports per scenario / story will be saved. To save your report persistently, either download the report or mark it as favourite</p>
    </div>
    <div class="storyReportsContainer">
        <div class="sectionHeader">
            <p class="Largeaccordeon2 reportsHeader">Story Reports:</p>
        </div>
        <div *ngIf="reports" class="reportContainer">
            <div *ngFor="let rep of reports.storyReports; let i = index" class="report">
                <a [class.notPassed]="!rep.testStatus" [class.passed]="rep.testStatus" [routerLink]="'/report/' + rep.reportName" target="_blank">{{stringifyReportTime(rep.reportTime)}}</a>
                <div class="reportButtons">
                    <button  a
                    class="actionButton" uk-tooltip title="Delete Report"
                   (click)="deleteReport(rep);">
                      <em class="material-icons">delete</em>
                    </button>
                    <button a *ngIf="rep.isSaved"
                    class="actionButton" uk-tooltip title="Report is currently Saved"
                    (click)="unsaveReport(rep);">
                      <em class="material-icons">star</em>
                    </button>
                    <button a *ngIf="!rep.isSaved"
                    class="actionButton" uk-tooltip title="Report is currently not Saved"
                    (click)="saveReport(rep);">
                      <em class="material-icons">star_border</em>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="reports"class="scenarioReportContainer">
        <div *ngFor="let scen of this.selectedStory.scenarios; let i = index">
            <div class="sectionHeader">
                <p class="Mediumaccordeon2 reportsHeader">Scenario {{i + 1}} Reports: {{scen.name}}</p>
            </div>
            <div *ngIf="reports" class="reportContainer">
                <div *ngFor="let reps of filterScenarioReports(scen); let j = index" class="report">
                    <a [class.notPassed]="!reps.testStatus" [class.passed]="reps.testStatus" [routerLink]="'/report/' + reps.reportName" target="_blank">{{stringifyReportTime(reps.reportTime)}}</a>
                    <div class="reportButtons">
                        <button  a
                        class="actionButton" uk-tooltip title="Delete Report"
                       (click)="deleteReport(reps);">
                          <em class="material-icons">delete</em>
                        </button>
                        <button a *ngIf="reps.isSaved"
                        class="actionButton" uk-tooltip title="Report is currently Saved"
                        (click)="unsaveReport(reps);">
                          <em class="material-icons">star</em>
                        </button>
                        <button a *ngIf="!reps.isSaved"
                        class="actionButton" uk-tooltip title="Report is currently not Saved"
                        (click)="saveReport(reps);">
                          <em class="material-icons">star_border</em>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="reports"class="groupReportContainer">
        <div class="sectionHeader">
            <p class="Largeaccordeon2 reportsHeader">Group Reports:</p>
        </div>
        <div *ngIf="reports" class="reportContainer">
            <div *ngFor="let grprep of reports.groupReports; let i = index" class="report">
                <a [class.notPassed]="!grprep.testStatus" [class.passed]="grprep.testStatus" [routerLink]="'/report/' + grprep.reportName" target="_blank">{{stringifyReportTime(grprep.reportTime)}}</a>
                <div class="reportButtons">
                    <button  a class="actionButton" uk-tooltip title="Delete Report" (click)="deleteReport(grprep);">
                        <em class="material-icons">delete</em>
                    </button>
                    <button a *ngIf="grprep.isSaved" class="actionButton" uk-tooltip title="Report is currently Saved"
                            (click)="unsaveReport(grprep);">
                        <em class="material-icons">star</em>
                    </button>
                    <button a *ngIf="!grprep.isSaved"
                            class="actionButton" uk-tooltip title="Report is currently not Saved"
                            (click)="saveReport(grprep);">
                        <em class="material-icons">star_border</em>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
