/* a.passed{
    color: green !important;
} */

/* a.notPassed{
    color: red !important;
} */ 

.sectionHeader {
  background-color: lightgrey;
  margin: 5px;
}

.darkTheme .sectionHeader {
  background-color: #37474F;
}

.report{
  display: flex;
  justify-content: space-between;
  margin: 3px 30px;
  align-items: center;
}

.reportButtons{
  margin-right: 10px;
}

.actionButton{
  margin-left: 10px;
  background: none;
  border: none;
}

.actionButton > em{
  color: var(--ocean-blue);
  font-size: 22px;

}

.headline{
  color: var(--charcoal-grey);
}

.darkTheme .headline {
  color: white;
}

.disclaimerContainer{
  margin: 20px;
  padding: 5px;
  border: 1px solid var(--grape);
  text-align: center;
}

.reportsHeader{
  padding:  2px;
}