* {
  padding: 0px;
  margin: 0px;
}

.reportHistoryContainer{
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: var(--white);
}

.darkTheme.reportHistoryContainer {
  border-left: 1px solid #60767b;
  border-top: 1px solid #60767b;
  border-bottom: 1px solid #60767b;
  background: #455A64;
}

/* a.passed{
    color: green !important;
  }

a.notPassed{
    color: red !important;
} */

.backButton{
    background: none;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.sectionHeader {
  background-color: lightgrey;
  margin: 5px;
}

.darkTheme .sectionHeader {
  background-color: #37474F;
}

.report{
  display: flex;
  justify-content: space-between;
  margin: 3px 30px;
  align-items: center;
}

.reportButtons{
  margin-right: 10px;
}

.actionButton{
  margin-left: 10px;
  background: none;
  border: none;
}

.actionButton > em{
  color: var(--ocean-blue);
  font-size: 22px;

}

.headline{
  color: var(--charcoal-grey);
}

.darkTheme .headline {
  color: white;
}

.reportHistoryTitleContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.disclaimerContainer{
  margin: 20px;
  padding: 5px;
  border: 1px solid var(--grape);
  text-align: center;
}

.reportsHeader{
  padding:  2px;
}