/**{
    padding: 0px;
    margin: 0px;
}*/

.uk-accordion-title, .uk-accordion-content, .uk-label {
    font-size: small;
}

.uk-card-title {
    font-size: medium;
}


.uk-accordion{
    width: 100%;
}
.def {
    color: #999;
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}


#infoIcon{
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
}

#submitForm{
    width: 100%
}

#scname{
    color: #56595e;
}

#story{
    border: 1px solid #999;
}

#modalHeader{
    color: #999;
    float: center;
    font-size: 20px;
}

#scenarioheader{
    color: #999;
}

::ng-deep .modal-dialog{
    max-width: 800px;
}

.subHeader{
    color: #999;
    margin-left: 5px;
}

#description_form{
    width: 100%;
    height: 8em;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.disabled {
    background: gray !important;
  }

table {
    width: 100%;
    margin-top:5px;
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
  }
.mat-cell, .mat-header-cell {
    text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

.blockNameContainer{
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    flex-direction: column;
}

.blockNameHeader{
    font-size: 18px;
    color: #999;
}

.blockNameInput{
    max-width: 300px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.dividerContainer{
    max-height: 600px;
    overflow-y: auto;
}

.headTitle{
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.dividerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.savedBlocksContainer, .previewContainer{
    border: 1px solid #e0e0e0;
    flex: 1;
    overflow-y: auto;
}

::ng-deep.mat-pseudo-checkbox{
    display: none !important;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse .deleteButton{
    margin-right: 20px;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse div.mat-list-text{
    display: flex;
    flex-direction: row;
}

@media screen and (max-height: 800px) {
    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
  }