.uk-card-title {
    font-size: medium;
}

.submitForm{
    width: 100%
}
::ng-deep .d-block{
    z-index: 1!important;
}
#changeOwner{
    margin-left: 7px; 
}

.modal-body.modal-xl{
    padding: 10px;
}

input.wrongEmail {
    border-left: 5px solid #d15553;
}

.divWrapper {
    margin: 3px;
}

.workGroupEmail{
    margin-right: 5px;
}

.wrongEmail{
    background-color: var(--grape);
}

.canEditContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canEditLabel{
    margin-right: 5px;
    margin-bottom: 0px;
}

table {
    width: 100%;
    margin-top:5px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.editColumn{
    max-width: 50px;
}

.mat-mdc-table{
    font-family: Klavika, sans-serif;
}

.mat-mdc-table .mat-mdc-cell:first-child, .mat-mdc-table .mat-mdc-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
  }

.mat-mdc-cell, .mat-mdc-header-cell {
    text-align: center;
}

td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type, th.mat-mdc-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type, th.mat-mdc-header-cell:first-of-type{
    padding-left: 0px;
}

@media screen and (max-height: 800px) {
    .tableContainer{
        max-height: 300px;
        overflow-y: auto;
    }

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

.addTeamMembersLabel {
    position: relative;
    left: -67px;
}

::ng-deep .mdc-checkbox{
    display: none !important;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}
