<!-- Workgroup edit Modal-->
<app-repo-swich #repoSwitchModal></app-repo-swich>
<ng-template #workgroupEditModal (currentRepoToDeleteEvent)="isCurrentToDelete($event)" [class.updateZIndex]="isCurrentToDelete()" let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="workgroupHeader"class="MediumSubline1H4 modal-title">Project:</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-xl">
        <div class="uk-card-title submitForm">
            <div>
                <form #workgroupInviteForm="ngForm" novalidate (ngSubmit)="workgroupInvite(workgroupInviteForm);">
                    <label style="margin-right: 10px;">Project Owner:</label>
                    <label>{{this.workgroupOwner}}</label>
                        <div class="divWrapper">
                            <input class="workGroupEmail" type="email" ngModel name="email" placeholder="Email*">
                            <button type="submit" class="normalButton">Invite to Team</button>
                        </div>
                        <div class="canEditContainer divWrapper">
                            <label class="canEditLabel addTeamMembersLabel" >Can add team members</label>
                            <input type="checkbox" ngModel name="canEdit"
                            class="normalButton addTeamMembersLabel" style="align-self: center;">
                        </div>
                </form>
            </div>
        </div>
        <div>
            <table id="workgroupTable" mat-table [dataSource]="workgroupList" class="mat-elevation-z8" aria-describedby="mydesc">
                <ng-container matColumnDef="email">
                  <th id="workgroupEmailCell" mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="emailTableContainer">
                        <label>{{element.email}} </label>
                        <button class="normalButton deleteButton"(click)="removeFromWorkgroup(element);">Remove</button>
                    </div>
                  </td>
                </ng-container>

                <ng-container  matColumnDef="can_edit_workgroup">
                    <th id="checkboxCanEdit" class="editColumn" mat-header-cell *matHeaderCellDef> Can add team members </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="checkbox" name="canEditUser" class="normalButton" (change)="this.checkEditUser($event, element)" [checked]="element.canEdit">
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsWorkgroup"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsWorkgroup;"></tr>
              </table>
        </div>
    </div>
    <div class="modal-footer">
        <!--  -->
        <button *ngIf="userEmail==workgroupOwner" type="button" class="normalButton deleteProjectButton" (click)="showDeleteRepositoryToast()" >Delete Project
        </button>
        <button type="button" class="normalButton" (click)="modal.close('Save click')">Done
        </button>
    </div>
</ng-template>
