.uk-card-title {
    font-size: medium;
}

.submitForm{
    width: 100%
}

.modal-body.modal-xl{
    padding: 10px;
}

input.wrongEmail {
    border-left: 5px solid #d15553;
}

.divWrapper {
    margin: 3px;
}

.workGroupEmail{
    margin-right: 5px;
}

.wrongEmail{
    background-color: var(--grape);
}

.canEditContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canEditLabel{
    margin-right: 5px;
    margin-bottom: 0px;
}

table {
    width: 100%;
    margin-top:5px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.editColumn{
    max-width: 50px;
}

.mat-table{
    font-family: Klavika, sans-serif;
}

.workGroupEmail{
    margin-right: 5px;
}

.deleteProjectButton{
    background-color: var(--grape);
}
.deleteProjectButton:hover{
    background-color: var(--grape-purple);
}

@media screen and (max-height: 800px) {
    .tableContainer{
        max-height: 300px;
        overflow-y: auto;
    }

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

.addTeamMembersLabel {
    position: relative;
    left: -67px;
}
