<div class="grid">
 
  <div class="formular"> 
    <p class="wrongLogin" *ngIf="error">{{error}}</p>
    <!-- Formular -->
    <h1 id="headerFont">Reset Your Password</h1>
    <form #form="ngForm" novalidate (ngSubmit)="login(form)"> 
      <br>
      <hr>
      <br>
    <!--Input UuID-->
      <label class="uk-form-label"></label>
      <input id="uuid" type="uuid" name="uuid" placeholder="Code*" #email ngModel class="uk-form-controls input" required>
      <br>
      <br>
    
    <!--Input New Password-->
      <label class="uk-form-label"></label>
      <input id="password" type="password" name="password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="New Password*" #email ngModel class="uk-form-controls input" required>
      <br>
      <br>

    <!--Reset Button -->
      <button class="resetButton" type="submit" (click)="confirmReset()" >Confirm New Password</button>
    </form>
  </div>
</div>