<div class="grid">
 
  <div class="formular"> 
    <!-- Formular -->
    <h1 id="headerFont" class="LargeHeadline3">Reset Your Password</h1>
    <form #form="ngForm" novalidate (ngSubmit)="confirmReset(form)"> 
      <br>
      <hr>
      <br>
    <!--Input UuID
      <label class="uk-form-label"></label>
      <input id="uuid" type="uuid" name="uuid" placeholder="Code*" #uuid ngModel class="uk-form-controls input" required>
      <br>
      <br>
    -->
    <!--Input New Password-->
      <label class="uk-form-label"></label>
      <span id="infoIcon" uk-icon="info"></span>
      <em id="passwordLengthInfo">Password must be at least 8 characters long</em>
      <div class="cross-validation" [class.cross-validation-error]="form.controls.password == undefined || (form.controls.password.invalid && form.controls.password.dirty)">
        <input id="password" type="password" name="password" minlength="8" placeholder="New Password*" #password ngModel class="uk-form-controls input" required>
      </div>
      <br>
      <br>

    <!--Reset Button -->
      <button class="normalButton" type="submit" [disabled]="form.invalid" >Confirm New Password</button>
    </form>
  </div>
</div>