* {
    padding: 0px;
    margin: 0px;
}


#headerFont{
    color:var(--ocean-blue);
}

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "formular";
    background-color: var(--white);
    place-items: center;
}

.formular{
    grid-area: formular;
    grid-column: 2 / 3;
    text-align: center;
    background-color: var(--white);
    padding: 80px 50px 20px;
    margin-bottom: 80px;
}


#passwordLengthInfo{
    font-size: small;
    color: black;
}

#headerFont{
    color:var(--ocean-blue);
}

.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #53d35a; 
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid var(--ocean-blue); 
  }

.cross-validation-error input {
    border-left: 5px solid #d15553;
  }

input.wrongEmail {
  border-left: 5px solid #d15553;
}

#email, #confirmPassword{
    margin: 25px;
}

.wrongLogin{
    background-color: rgb(228, 92, 92);
    text-align: center;
}