* {
  padding: 0px;
  margin: 0px;
}

#headerFont {
  color: var(--ocean-blue);
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "formular";
  background-color: var(--white);
  place-items: center;
}

.formular {
  grid-area: formular;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  text-align: center;
  /* background-color: var(--white); */
}

#passwordLengthInfo {
  font-size: small;
  color: black;
}

#headerFont {
  color: var(--ocean-blue);
}

.uk-form-controls {
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #53d35a;
}

.ng-invalid:not(form) {
  border-left: 5px solid var(--ocean-blue);
}

.cross-validation-error input {
  border-left: 5px solid #d15553;
}

input.wrongEmail {
  border-left: 5px solid #d15553;
}

#email,
#confirmPassword {
  margin: 25px;
}

.wrongLogin {
  background-color: rgb(228, 92, 92);
  text-align: center;
}

#returnButton {
  margin-top: 145px;
  width: inherit;
  margin-left: 0px;
  margin-right: 0px;
  font-style: inherit;
  font-size: 10pt;
  font-weight: bold;
  outline: none;
  padding: 10px !important;
  border: 2px solid gray;
  border-bottom: 0px;
  border-radius: 4px;
}

#sendReset {
  width: 100%;
  border-radius: 4px;
}

.wrongReset {
  background-color: var(--danger);
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.successReset {
  background-color: var(--green);
  text-align: center;
  padding: 7px;
  border-radius: 4px;
}

.resetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  margin: 20px;
  width: 390px;
  border-radius: 4px;
  background-color: #d3d3d345;
}

.vertCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.horCentered {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#resetText {
  font-size: 14px;
  width: 300px;
  margin-bottom: 15px;
  text-align: center;
}

.darkLock {
  width: 80px;
  margin: 20px;
  stroke: white;
  opacity: 80%;
}

.lightLock {
  width: 80px;
  margin: 20px;
  stroke: var(--dark-grey);
}

.linkButton {
  font-style: inherit;
  border: 0px;
  background-color: transparent;
  color: var(--ocean-blue);
  font-size: 10pt;
  font-weight: bold;
  outline: none;
}

.darkTheme .linkButton {
  color: var(--light-blue);
}
