<div class="grid">
 
  <div class="formular"> 
    <!-- Formular -->
    <h1 id="headerFont">Reset Your Password</h1>
    <form #form="ngForm" novalidate (ngSubmit)="confirmReset(form)"> 
      <br>
      <hr>
      <br>
    <!--Input UuID-->
      <label class="uk-form-label"></label>
      <input id="uuid" type="uuid" name="uuid" placeholder="Code*" #uuid ngModel class="uk-form-controls input" required>
      <br>
      <br>
    
    <!--Input New Password-->
      <label class="uk-form-label"></label>
      <input id="password" type="password" name="password" placeholder="New Password*" #password ngModel class="uk-form-controls input" required>
      <br>
      <br>

    <!--Reset Button -->
      <button class="resetButton" type="submit" [disabled]="form.invalid" >Confirm New Password</button>
    </form>
  </div>
</div>