table {
    margin-top: 5px;
    width: 100%;
}

.deactivated{
  color: gray;
  font-style: italic;
}

.valueRow{
  font-weight: normal;
}

.mat-table{
  font-family: Klavika, sans-serif;
}

.scenarioTitle{
  background: var(--white);
  border: none;
}

.darkTheme, .scenarioTitle {
  background: transparent;
}

.scenarioTitle > em{
  color:  var(--ocean-blue);
  font-size: 20px;
  transform: translate(0px, 3px)
}

.checkboxWrapper{
  display: inline-block;
}

.numbering{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px !important;
  display: inline-block;
  vertical-align: middle;
}