<table mat-table [dataSource]="data" class="mat-elevation-z8">

	<!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->




	<ng-container *ngFor="let column of displayedColumns" matColumnDef={{column}}>
		<th mat-header-cell *matHeaderCellDef> {{column}}</th>
		<td mat-cell *matCellDef="let element;let index = index">
				<editable (update)="updateField(index, column)">
						<ng-template viewMode>
						{{element[column]}}
						</ng-template>
						<ng-template editMode>
							<input  [formControl]="getControl(index, column)" focusable editableOnEnter>
						</ng-template>
					</editable> 
		</td>




	</ng-container>			
	

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

