<div class="grid">
    <div>
        <br>
        <div class="uk-card-title"><span class="MediumCategory1" id="storyHeader">Groups</span>
            <dfn class="def"><span id="infoIcon" uk-icon="info"></span>
                <span rel="def">ToDo</span>
            </dfn>
        </div>
        <button [routerLink]="['/story']" class="normalButton">To StoryBar</button>
        <hr>
        <ul uk-accordion>
            <li *ngFor="let g of getSortedGroups(); let i = index ">
                <div id="stories" class=" Mediumaccordeon2 uk-accordion-title uk-background-muted">
                    <a class="storyListLink" maxlength="10" id="{{'story' + i}}" uk-tooltip="pos:right; delay: 200"
                       title="{{g.name}}">
                        {{g.name}}. {{g._id}}
                    </a>
                </div>
                <div class="uk-accordion-content">
                    <li *ngFor="let stor of g.member_stories">
                        <a class="Largecaption groupListItem">{{stor | titlecase}}</a>
                    </li>
                </div>
            </li>
        </ul>
        <div id="createNewStoryDiv">
            <button class="normalButton" (click)="openCreateNewStoryModal()">Create New Group</button>
        </div>
    </div>
</div>

<app-modals #modalsComponent></app-modals>