* {
    padding: 0px;
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
   /*  background-color: rgb(255, 255, 255); */
    padding-bottom: 100px;
    /* border: 1px solid #999; */
}

#noEmail{
    color: var(--ocean-blue);
}

.grid_seedTest{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    background: white;
}

.darkTheme .grid_seedTest {
    background: #455A64;
}

.grid_customRepos {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.grid_eraseAccount {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.grid_github{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    background: white;
}

.darkTheme .grid_github {
    background: #455A64;
}

.grid_githubRepos {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.grid_jira{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    background: white;
}

.darkTheme .grid_jira {
    background: #455A64; 
}

.grid_jiraRepos {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.infoIcon {
    color: #999;
    padding-top: 3px;
    margin-left: 7px;
}

.active{
    color: var(--ocean-blue);
}

.darkTheme .active {
    color: var(--light-blue);
}

#emailLabel{
    margin-bottom: 25px;
}

#needCustomRepo{
    margin-top: 25px;
}

h1{
    color:var(--ocean-blue);
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.darkTheme h1 {
    color: var(--light-blue); 
  } 

h2{
    padding-top: 10px;
    color: var(--white);
    font-size: 20px;
    /*background-color: rgba(153, 153, 153, 0.63);*/
    background-color: var(--dark-grey);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.darkTheme h2 {
    background-color:#000000;
}

label{
    text-align: center;
    font-weight: bold;
}

.githubLogin{
    color: var(--white);
    padding: 5px 10px;
    background-color: black;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.githubLoginContainer{
    margin: 10px;
    display:inline-block;
}

.githubLogin img{
    margin-right: 5px;
    width: 17px;
    height: 17px;
}

.backButton{
    background: none;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.backButton:focus {
    outline:0 !important;
}


#backImage{
    width: 40px;
}

#change-jira{
    margin-top: 30px;
}

#disconnect-jira{
    margin-top: 30px;
}

.uk-card{
    border: 1px solid grey;
}

.darkTheme .uk-card {
    border: 1px solid #60767b;
}

a.repoLink{
    color: var(--ocean-blue);
    transition: 0.2s;
}
  
.darkTheme a.repoLink {
    color: var(--light-blue);
}
  
a.repoLink:hover{
    color: var(--marine-blue);
}
  
.darkTheme a.repoLink:hover {
    color: white;
}

h2, h1{
    font-family: Klavika, sans-serif;
}

.repositories{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 15px;
    background-color: transparent;
    border-top: 1px solid #999;
}

.darkTheme .repositories {
    border-top: 1px solid #60767b;
}

.repo_img{
    margin-left: 5px;
    margin-right: 5px;
    max-height: 18px;
}

.editRepoButton{
    margin-left: 5px;;
}

.customRepoContainer{
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}

.darkTheme label#noEmail {
    color: var(--light-blue);
}

#downloadInfo {
    width: 14px;
    height: 15px;
}
.downloadWrapper {
    margin-bottom: 7px;
    margin-top: 4px;
}
.searchInput{
    border: none;
    border-bottom: 1px solid var(--brown-grey);
    font-weight: normal;
    width: 40%;
    max-height: 2em;
    margin-top: 1.75em;
  }

  .darkTheme .searchInput {
    border-bottom: 1px solid #60767b;
  }
  .searchInput:focus{
    outline: none;
  }
  #searchBarIcons{
    margin-top: 1.25em;
  }

  .set-name-button {
    font-size: 22px;
    vertical-align: top;
  }

  .setting-icon {
    text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  }

  .setting-icon:hover {
    text-shadow: none;
  }

  .mat-icon {
    height: unset;
    width: unset;
  }

  .db-item-list {
    display: flex;
    align-items: center;
    max-width: 285px
  }

  .flex-end-item {
    margin-left: auto;
  }