* {
    padding: 0px;
    margin: 0px;
}

.grid-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 100px;
    border: 1px solid #999;
}

.uk-form-horizontal{
    padding-top: 10px;
}

.header{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.grid_seedTest{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}

.grid_customRepos {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.grid_github{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.grid_githubRepos {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.grid_jira{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
}

.grid_jiraRepos {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.formular{
    grid-area: formular;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    background-color: white;
    padding: 80px 50px 20px;
}

h1{
    margin-top: 30px;
    color:#0099CC;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2{
    padding-top: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgba(153, 153, 153, 0.63);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

label{
    text-align: center;
    font-weight: bold;
}


.githubLoginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.githubButton{
    margin: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 5px 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;
    max-height: 40px;
}


.button{
    margin: 10px;
    color:#ffffff;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px #0099CC;
    background: #0099CC;
    background: -moz-linear-gradient(top,  #0099CC,  rgb(2, 111, 161));
}

.button:focus {outline:0 !important;}

.button:hover {
    background: rgb(2, 111, 161);
    }

.button:active {
    background: -moz-linear-gradient(top,  rgb(2, 111, 161),  #0099CC);
    }

.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.uk-card{
    border: 1px solid grey;
}

.repositories{
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 15px;
    background-color:rgb(255, 255, 255);
    border-top: 1px solid #999;
}

.selectRepository{
    font-weight: bold;
    color: grey;
    font-size: 18px;
}

.repo_img{
    margin-left: 5px;
    margin-right: 5px;
    max-height: 18px;
}

@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "test acc" "github" "jira" "database rep";
    }
}
