.uk-card-title {
    font-size: medium !important;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.submitForm{
    width: 100%
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.material-icons {
    color: var(--brown-grey);
    opacity: 70%;
    margin: 0px 10px 0px 5px;
}

::ng-deep.darkTheme .material-icons {
    color: white;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #90CAF9;
}
  
::-webkit-scrollbar-corner {
    background: #90CAF9;
}

::ng-deep.darkTheme ::-webkit-scrollbar-thumb,
::ng-deep.darkTheme::-webkit-scrollbar-thumb {
  background: #B0BEC5;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px #B0BEC5;
}

::ng-deep.darkTheme ::-webkit-scrollbar-corner
::ng-deep.darkTheme::-webkit-scrollbar-corner {
  background: #B0BEC5;
}


