<div uk-grid  >
    <div class="uk-width-1-4@m">
        <app-stories-bar #storiesBar (storyChosen)="setSelectedStory($event);" (scenarioChosen)="setSelectedScenario($event);"></app-stories-bar>
    </div>
    <div class="uk-width-expand@m">
        <app-story-editor (formtosubmit)="setform($event)" [storiesBar]="storiesBar" [newSelectedStory]="selectedStory" [newSelectedScenario]="selectedScenario"></app-story-editor>
        <app-submitform [newform]="formtosubmit"></app-submitform>
    </div>
</div>
