* {
    padding: 0px;
    margin: 0px;
}

.grid{
   /*  background-color: var(--light-grey); */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
    "storiesBar storyEditor storyEditor storyEditor";
    grid-column-gap: 10px;
    /* padding-bottom: 5px; */
}

.storiesBar{
    grid-area: storiesBar;
}

.storyEditor{
    grid-area: storyEditor;
}



@media screen and (max-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 94%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "storiesBar"
        "storyEditor";
        justify-content: center;
    }
}