.uk-card-title {
    font-size: medium;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.submitForm{
    width: 100%
}

.material-icons {
    color: var(--brown-grey);
    opacity: 70%;
    margin: 0px 10px 0px 5px;
}

::ng-deep.darkTheme .material-icons {
    color: white;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}

label {
    float: left;
    margin-left: -227px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 200px;
}


