.uk-card-title {
    font-size: medium;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.def {
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}

.submitForm{
    width: 100%
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

