<!-- rename Scenario Modal-->

<ng-template #renameScenarioModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="modalHeader"class="MediumSubline1H4 modal-title">Edit Scenario</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-xl">
        <form #renameScenario="ngForm" novalidate [disabled]="!renameScenario.valid" (ngSubmit)="submitRenameScenario(renameScenario)">     
                <div class="submitForm">
                    <div class="form-group modalsContent">
                        <div>
                            <label class="uk-form-label">Enter unique scenario name</label>
                            <input type="text" [ngModel]="scenarioName" pattern="\S(.*\S)?" id="newTitle"
                            style="margin-left: 24px;" name="newTitle" required>                   
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="normalButton" type="submit" [disabled]="!renameScenario.valid"
                        [ngStyle]="{'opacity': !renameScenario.valid ?  '50%' : '100%'}">Submit
                        </button>
                    </div>
                </div>
         </form>
    </div> 
</ng-template>