
*{
    font-family: Klavika, sans-serif;
}

.modal-title{
    color: var(--white);
}
  
.modal-header{
    background-color: var(--ocean-blue);
    align-items: center;
}

.modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-footer{
    height: 60px;
}

.close{
    color: var(--white);
    outline: none;
}

.uk-card-title {
    font-size: medium;
}

::ng-deep .modal-dialog{
    max-width: 800px;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.def {
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}

.submitForm{
    width: 100%
}

.modalsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputField {
    display: grid;
}

.labelField {
    display: grid;
    justify-items: end;
    margin-right: 10px;
    align-content: inherit;
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.uk-form-label {
    color: black;
}
