* {
    padding: 0px;
    margin: 0px;
}

h1{
    margin: 5px;
}


.loginGrid{
    display: grid;
    grid-template:
    "howToStart formular"
    "howToStart repositories"
    / 1fr 1fr;
    background-color: var(--white);
    place-items: center;
}

.darkTheme.loginGrid {
    background-color: #37474F;
}

.formular{
    grid-area: formular;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: var(--white); 
    margin-top: auto;
    margin-right: auto;
    margin-left: 10%;
    margin-bottom: auto;
    text-align: center;
    padding: 40px 20px 40px 40px;
}

.darkTheme .formular {
    background-color: #455A64;
}

.darkTheme button.linkButton {
    color: var(--light-blue);
}

.darkTheme h1.LargeHeadline2 {
    color: var(--light-blue);
}

.repositories{
    grid-area: repositories;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    /*width: 400px;*/
    text-align: center;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
    padding: 25px;
    background-color:rgb(224, 224, 224);
    border: 1px solid #999;
}

.darkTheme .repositories {
    background: #455A64;
    border: 1px solid #60767b
}


.howToStart {
    grid-area: howToStart;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--white);
    text-align: center;
    font-size: small;
    margin-top: auto;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 830px;
    height: 500px;
    position: relative;
}

.darkTheme .howToStart {
    background-color: #455A64;
}

.welcomeSlide{
    background-color: var(--white);
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 70px;
}

.welcomeSlide h1{
    margin-bottom: 50px;
}

.mat-carousel{
    z-index: auto;
    position: absolute;
    width: 100%; 
    height: 100px;
}

.mat{
    width: 850px;
    margin-top: 70px;
    border: 12px solid #999;
}

::ng-deep .owl-next{
    margin: -30% 0 0 43% !important;
    position: absolute !important;
    background: none !important;
}

::ng-deep .owl-prev{
    margin: -30% 0 0 -50% !important;
    position: absolute !important;
    background: none !important;
}
::ng-deep .owl-prev .material-icons:hover,
::ng-deep .owl-next .material-icons:hover{
    background: rgba(0, 0, 0, 0.1) !important;
    
}
::ng-deep .owl-prev .material-icons,
::ng-deep .owl-next .material-icons{
    color: black;
    border-radius: 50%;
    padding: 10px;
    display: inline;
}

::ng-deep .owl-theme .owl-nav{
    margin: 0 0 0 0 !important;
}
::ng-deep .owl-carousel .owl-stage{
    display: flex;
}

.slideDescription{
    background-color: #999;
    height: 45px;
    color: var(--white);
    white-space: pre-line;
    margin:0 0 0 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 0;
    width: 100%;
}

#carousel_arrow{
    color: black;
}

.repo_img{
    margin-left: 5px;
    margin-right: 5px;
    max-height: 18px;
}

/*
#info{
    color: #0099CC;
    font-weight: bold;
}*/
.repositoryList{
    list-style: none;
}

a.repoLink{
    color: var(--ocean-blue);
    transition: 0.2s;
}
  
.darkTheme a.repoLink {
    color: var(--light-blue);
}
  
a.repoLink:hover{
    color: var(--marine-blue);
}
  
.darkTheme a.repoLink:hover {
    color: white;
}

.wrongLogin{
    background-color: var(--grape);
    text-align: center;
}

.loginFont{
    color:var(--ocean-blue);
}

.noAccount{
    font-size: 13px;
    padding: 5px;
}

.githubLogin{
    color: var(--white);
    padding: 5px 10px;
    background-color: black;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.githubLoginContainer{
    margin: 10px;
    display:inline-block;
}

.githubLogin img{
    margin-right: 5px;
    width: 17px;
    height: 17px;
}

.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

/* .darkTheme .uk-form-controls {
    background: transparent;
} */

.linkButton{
    font-style: inherit;
    border: none;
    background-color: transparent;
    color: var(--ocean-blue);
    transition: 0.2s;
    font-size: 10pt;
}

.linkButton:hover{
    color: var(--marine-blue);
}

#noAccountDiv{
    margin-top: 30px;
    border: 0.25px solid #999;
    padding: 10px;
    /* background-color: rgb(247, 247, 247); */
  }

.darkTheme #noAccountDiv {
    border: 0.25px solid #60767b;
}

#loadingSpinner{
    margin-left:38%;
}

:host ::ng-deep .loadingSpinner circle{
    stroke: var(--marine-blue);
}

:host ::ng-deep .darkTheme .loadingSpinner circle{
    stroke: white;
}

@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "formular" "repositories";
    }
}

@media screen and (min-width: 1600px) {
    .howToStart {
        grid-area: howToStart;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        background-color: var(--white);
        text-align: center;
        font-size: small;
        margin-top: 80px;
        margin-bottom: 180px;
        margin-right: 150px;
        margin-left: 100px;
        width: 830px;
        height: 500px;
        position: relative;
    }

    .formular{
        grid-area: formular;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        background-color: var(--white);
        margin-top: 80px;
        margin-right: 100px;
        margin-bottom: 100px;
        text-align: center;
        padding: 40px;
    }
    
    .repositories{
        grid-area: repositories;
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        width: 400px;
        text-align: center;
        margin-right: 100px;
        margin-bottom: 80px;
        padding: 15px;
        background-color:rgb(224, 224, 224);
        border: 1px solid #999;
    }
    
}

.darkTheme .repositories {
    background-color: #37474F;
    border-color:#60767b;
}

/* .darkTheme button {
    color: var(--light-blue);
} */

.darkTheme .formular{
    background-color: transparent;
}

.darkTheme .howToStart{
    background-color: transparent;
}
