<div class="uk-card uk-card-default uk-padding">
    <br>
  <div class= "uk-position-center">
    <h4>Login via Github Token</h4>
    <input #token type='text'>
    <button class="uk-button-primary" (click)="login(token.value);">Login</button>
  </div>
  <br>
</div>
<br>
<div class="uk-card uk-card-default uk-padding" *ngIf="repositories">
    <div class= "uk-position-center">
      <ul class="uk-list">
        <li *ngFor="let repository of repositories;" >
            <a  (click)="addStepToBackground(selectedStory.story_id,step);"
             href="#">{{repository}}</a>
        </li>
      </ul>
    </div>
  </div>