<div class="grid">
  <div class="formular">
    <p class="wrongLogin" *ngIf="error">{{error}}</p>
    <!-- Formular -->
    <h1 id="loginFont">Login</h1>
    <form #form="ngForm" novalidate (ngSubmit)="login(form)">
      <hr>
      <!-- Github Name -->
      <label for="githubName" class="uk-form-label"></label>
      <input type="text" name="githubName" placeholder=" Github Name" #githubName ngModel class="uk-form-controls" required>
      <br>
      <!-- Token -->
      <label for="token" class="uk-form-label"></label>
      <br>
      <input type="text" name="token" placeholder="Token" #token ngModel class="uk-form-controls" required>
      <br>
      <br>
      <!-- Button Login -->
      <button class="loginButton" type="submit" [disabled]="form.invalid">Submit</button>
      <br>
      <button id="register" title="register" (click)="navToRegistration();">Registration</button>
    </form>
    <hr>
    <!-- Button Login-TestAccount -->
    <button class="loginButton" name="loginTest" type="button" (click)="loginTestAccount();">Test Account</button>
  </div>
  <!-- Repositories -->
  <div class="repositories" *ngIf="repositories">
    <div>
      <label class="selectRepository">Select Your Repository:</label>
      <ul class="uk-list">
        <li *ngFor="let repository of repositories; let i = index" >
          <a class="repoLink" id="{{'repository_'+i}}" (click)="selectRepository(repository);" href="#">{{repository}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>