.wrongLogin{
    background-color: rgb(228, 92, 92);
}

#loginFont{
    color:#0099CC;
    font-size: 20pt;
    font-weight: bold;
}

#body{
    text-align: center;
}

#loginTest{
    background-color: #0099CC;
    color:#ffffff;
}