<div class="grid">
  <div class="formular">
    <p class="wrongLogin" *ngIf="error">{{error}}</p>
    <!-- Formular -->
    <h1 id="loginFont">Login</h1>
    <form #form="ngForm" novalidate (ngSubmit)="login(form)">
      <hr>
      <br>
      <!-- Github Name -->
      <label for="email" class="uk-form-label" style="color: grey;"></label>
      <input id="email" type="username" name="email" placeholder=" Email" #email ngModel class="uk-form-controls" required>
      <br>
      <!-- Token -->
      <label for="password" class="uk-form-label" style="color: grey;"></label>
      <br>
      <input id="password" type="password" name="password" placeholder=" Password" #password ngModel class="uk-form-controls" required>
      <br>
      <br>
      <!-- Button Login -->
      <button class="loginButton" type="submit" [disabled]="form.invalid">Login</button>
    </form>
    <br>
    <p>or</p>
    <hr>
    <br>
    <p class="noAccount">No account? 
      <button id="register" title="register" (click)="navToRegistration();">Register here.</button>
    </p>
    <!--<button class="githubLogin" (click)="githubLogin();">Login via Github</button>-->
    <a class="githubLoginContainer" (click)="githubLogin();">
      <div class="githubLogin" >
         <img src ="../assets/github-logo.png" >
         <p>Login via Github</p>
      </div>
   </a>
   <br>
    <!-- Button Login-TestAccount -->
    <button class="testAccount" name="loginTest" type="button" (click)="loginTestAccount();">Try Our Demo</button>
    <br>
  </div>
  <!-- Repositories -->
  <div *ngIf="this.repositoriesLoading">
    <mat-spinner style="margin:10px" [diameter]="40" class="loadingSpinner"></mat-spinner>
  </div>
  <div class="repositories" *ngIf="repositories">
    <div>
      <label class="selectRepository">Select Your Repository:</label>
      <ul class="uk-list">
        <li *ngFor="let repository of repositories; let i = index" >
          <a class="repoLink" id="{{'repository_'+i}}" (click)="selectRepository(repository);" href="#">{{repository}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>