<div [class.darkTheme]="isDark" class="changedStoryViewContainer">
    <div class="changedStoryViewTitle">
        <div>
            <a class="title">
                <button class="backButton" title="Back to Projects" (click)="goBackToStoryEditor()">
                    <img id="backImage" [attr.src]="isDark ? '../assets/leftWhite.png' : '../assets/left.svg'"
                        alt="back">
                </button>
            </a>
        </div>
        <div>
            <p class="LargeHeadline3 headline">File Manager</p>
        </div>
    </div>
    <div *ngIf="allFiles.length > 0" class="bodyContainer upload-container storage-not-empty">
        <div class="bodyContainer top">
            <div class="searchFile">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (input)="searchFile()"
                    autocomplete="off" placeholder="Search file...">
                <span uk-icon="search"></span>
            </div>
            <div class="uploadFile normalButton">
                <label class="label">
                    <input type="file" (change)="selectUploadFile($event)" required />
                    <span uk-icon="upload"></span>Upload
                </label>
            </div>
        </div>
        <div class="fileCollection">
            <div class="fileCollectionContent">
                <div *ngIf="searchedFiles.length > 0" class="fileTableContainer">
                    <table mat-table class="fileTable mat-table" [dataSource]="searchedFiles.slice(0, 20)">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox color="primary" (change)="toggleAllSelection($event)" [checked]="isAllSelected"></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let file">
                                <mat-checkbox color="primary" [checked]="selection.has(file)"></mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name" >
                            <th mat-header-cell *matHeaderCellDef class="fileCell">Name</th>
                            <td mat-cell *matCellDef="let file" class="fileCell fileNameCell">
                                <div class="fileNameContainer">
                                    <span class="fileIcon" uk-icon="file-text"></span>{{file.filename}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="uploadDate">
                            <th mat-header-cell *matHeaderCellDef class="fileCell">Upload Date</th>
                            <td mat-cell *matCellDef="let file" class="fileCell uploadDateCell">{{ file.uploadDate | date:'dd/MM/yyyy HH:mm' }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['select', 'name', 'uploadDate']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['select', 'name', 'uploadDate']"
                            (click)="selectedRow(row)" class="file-or-folder" [class.selectedFile]="isFileSelected(row)"></tr>
                    </table>
                </div>
                <div *ngIf="searchedFiles.length == 0" class="noResultFound">
                    <p>No result found</p>
                </div>
                <div class="body-footer">
                    <button class="normalButton deleteButton" type="button" [disabled]="selection.size === 0"
                        [ngStyle]="{'opacity': selection.size === 0 ? '50%' : '100%'}" (click)="deleteFile()">Delete Selected Files
                    </button>
                </div>
            </div>
        </div>
    </div>    
    <div *ngIf="allFiles.length == 0" class="bodyContainer upload-container storage-empty">
        <div class="empty-storage-message">
            <p style="font-size: large; font-style: italic;">There are no files in this project yet</p>
            <label class="label normalButton">
                <input type="file" (change)="selectUploadFile($event)" required />
                <span uk-icon="upload"></span>Upload
            </label>
        </div>
    </div>

</div>