*{
    font-family: Klavika, sans-serif;
}

  .modal-title{
    color: var(--white);
  }
  
  .modal-header{
    background-color: var(--ocean-blue);
  }

  ::ng-deep .darkTheme .modal-header{
    background-color: black;
    border-bottom: 1px solid #60767b;
  }

  .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  ::ng-deep .darkTheme .modal-body {
    background-color: #455A64;
  }

  .modal-footer{
    height: 60px;
  }

  ::ng-deep .darkTheme .modal-footer {
    background-color: #455A64;
    border-top: 1px solid #60767b;
  }

  .close{
    color: var(--white);
    outline: none;
  }

  ::ng-deep .darkTheme .close{
    background-color: transparent;
  }

.uk-card-title {
    font-size: medium;
}

input.wrongEmail {
    border-left: 5px solid #d15553;
}

::ng-deep .darkTheme input.wrongEmail {
    border-left: 5px solid red;
}

::ng-deep .modal-dialog{
    max-width: 800px !important;
}

.subHeader{
    margin-left: 5px;
}

#description_form{
    width: 100%;
    height: 8em;
}

::ng-deep .darkTheme textarea {
    background: transparent;
    border-color: #60767b;
    color: white;
} 

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.disabled {
    background: gray !important;
}

table {
    width: 100%;
    margin-top:5px;
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
}

::ng-deep .darkTheme .mat-table .mat-cell:first-child, .darkTheme .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #60767b;
}

::ng-deep .darkTheme .mat-table{
    background: #455A64;
}

.mat-cell, .mat-header-cell {
    text-align: center;
}
.normalButton:disabled{
    opacity: 20%;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

.blockNameContainer{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    display: flex;
}

::ng-deep .darkTheme .blockNameContainer {
    border-bottom: 1px solid #60767b;
}

.blockNameHeader{
    font-size: 18px;
    margin-right: 10px;
}

.blockNameInput{
    max-width: 300px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.dividerContainer{
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::ng-deep .darkTheme .modal-content{
    background: #455A64;
}

.savedBlocksContainer, .previewContainer{
    border: 1px solid #e0e0e0;
    flex: 1;
    overflow-y: auto;
}

::ng-deep .darkTheme .savedBlocksContainer, ::ng-deep .darkTheme .previewContainer {
    border: 1px solid #60767b;
}

::ng-deep.mat-pseudo-checkbox{
    display: none !important;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse .deleteBlockButton{
    margin-right: 20px;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse div.mat-list-text{
    display: flex;
    flex-direction: row;
}

.def {
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}

::ng-deep .darkTheme .def:hover span[rel=def] {
    background-color: white;
}


.infoIcon{
    color: var(--white);
    margin-left: 5px;
    margin-right: 5px;
}

.submitForm{
    width: 100%
}


.tableContainer{
    max-height: 600px;
    overflow-y: auto;
}

.mat-table{
    font-family: Klavika, sans-serif;
  }

.exampleCheckboxContainer{
    padding-top: 5px;
}

.exampleCheckbox{
    margin-right: 5px;
}


.workGroupEmail{
    margin-right: 5px;
}


.wrongEmail{
    background-color: var(--grape);
}

::ng-deep .darkTheme .wrongEmail {
    background-color: red;
}

.canEditContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canEditLabel{
    margin-right: 5px;
    margin-bottom: 0px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.editColumn{
    max-width: 50px;
}

#storydescription{
    resize: both;
    width: 70%;
    height: 20%; 
    min-width: 100px;
    min-height: 100px;
    max-width: 100%;
    max-height: 200px;
}

.groupstoryselection{
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}
.groupinput{
    display: table-cell;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.groupstoryselectionouter{
    overflow: hidden;
}

@media screen and (max-height: 800px) {
    .tableContainer{
        max-height: 300px;
        overflow-y: auto;
    }

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

::ng-deep .darkTheme br {
    border: 1px solid #60767b;
}

::ng-deep .darkTheme p {
    color: white;
}