*{
    font-family: Klavika, sans-serif;
}

  .modal-title{
    color: var(--white);
  }
  
  .modal-header{
    background-color: var(--ocean-blue);
  }

  .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .modal-footer{
    height: 60px;
  }

  .close{
    color: var(--white);
    outline: none;
  }

.uk-card-title {
    font-size: medium;
}

input.wrongEmail {
    border-left: 5px solid #d15553;
  }

::ng-deep .modal-dialog{
    max-width: 800px;
}

.subHeader{
    margin-left: 5px;
}

#description_form{
    width: 100%;
    height: 8em;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.disabled {
    background: gray !important;
}

table {
    width: 100%;
    margin-top:5px;
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
  }

.mat-cell, .mat-header-cell {
    text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

.blockNameContainer{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    display: flex;
}

.blockNameHeader{
    font-size: 18px;
    margin-right: 10px;
}

.blockNameInput{
    max-width: 300px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.dividerContainer{
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.savedBlocksContainer, .previewContainer{
    border: 1px solid #e0e0e0;
    flex: 1;
    overflow-y: auto;
}

::ng-deep.mat-pseudo-checkbox{
    display: none !important;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse .deleteBlockButton{
    margin-right: 20px;
}

::ng-deep div.mat-list-item-content.mat-list-item-content-reverse div.mat-list-text{
    display: flex;
    flex-direction: row;
}

.def {
    cursor: help;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}

.def span[rel=def] {
    display: none;
}

.def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    top: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
    z-index: 100;
}


.infoIcon{
    color: var(--white);
    margin-left: 5px;
    margin-right: 5px;
}

.submitForm{
    width: 100%
}


.tableContainer{
    max-height: 600px;
    overflow-y: auto;
}

.mat-table{
    font-family: Klavika, sans-serif;
  }

.exampleCheckboxContainer{
    padding-top: 5px;
}

.exampleCheckbox{
    margin-right: 5px;
}


.workGroupEmail{
    margin-right: 5px;
}


.wrongEmail{
    background-color: var(--grape);
}

.canEditContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.canEditLabel{
    margin-right: 5px;
    margin-bottom: 0px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.editColumn{
    max-width: 50px;
}

@media screen and (max-height: 800px) {
    .tableContainer{
        max-height: 300px;
        overflow-y: auto;
    }

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}