.button {
    margin-right: 3px;
    color:var(--white);
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background: var(--ocean-blue);
    border: none;
    line-height: 25px;
  }

  .uk-card-default {
    background: transparent;
  }

  .material-icons{
    font-size: 24px;
  }

  .uk-card-footer{
    padding: 15px 0px;
  }

  .button:hover {
    background: var(--marine-blue);
  }

  .button:active {
    background: -moz-linear-gradient(top,  rgb(2, 111, 161), #0099CC);
  }

  .button:focus {outline:0 !important;}

  .uk-button-group{
    border-radius:4px;
  }

  .button > em {
    color: var(--white);
    font-size: 22px;
    vertical-align: text-top;
  }
  .padding{
    padding: 20px;
  }
  #report{
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
  }

  #saveButton.iconButton_unsaved em{
    color: red;
  }
