.stepLine {
    box-sizing: border-box;
    width: fit-content;
    max-width: inherit;
    padding: 1px 20px 1px 20px;
    align-items:center;
}

.text-inline {
    display: flex;
}

:host ::ng-deep .stepsContainer {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.dragIconContainer {
    text-align: center;
    cursor: move;
    margin-top: 1.5px;
}

:host ::ng-deep .checkbox {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 5px
}
  
:host ::ng-deep .checkbox:hover {
    cursor: pointer;
}

.contentEditableElement { /*needed for trailing whitespaces*/
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
  
.inputEditableDiv{
    margin: 1px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #333;
    position: relative;
    top: -2px;
    width: auto;
    min-width: 5px;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

input.scenario,
input.background {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}