.mat-column-checkStory {
    width: 10% !important;
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

table {
    width: 100%;
    margin-top:5px;
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
  }

.mat-cell, .mat-header-cell {
    text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.emoticon {
    position: relative;
    opacity: 0.5;
    left: 1em;
}

.searchWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #90CAF9;
}
  
::-webkit-scrollbar-corner {
    background: #90CAF9;
}

::ng-deep.darkTheme ::-webkit-scrollbar-thumb,
::ng-deep.darkTheme::-webkit-scrollbar-thumb {
  background: #B0BEC5;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px #B0BEC5;
}

::ng-deep.darkTheme ::-webkit-scrollbar-corner
::ng-deep.darkTheme::-webkit-scrollbar-corner {
  background: #B0BEC5;
}

#nameInput {
    width: 87%;
    margin-left: 24px;
}

.toggleWrapperMargin {
    margin-top: 0.5rem;
}

.toggleMargin {
    /* margin-left: 10px; */
    margin-bottom: 0.5rem;
}

.mat-icon {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 22px;
}

.infoIcon {
    margin: unset;
    width: 14px;
}