.mat-column-checkStory {
    width: 10% !important;
}


table {
    width: 100%;
    margin-top:5px;
}

.mat-mdc-table .mat-mdc-cell:first-child, .mat-mdc-table .mat-mdc-header-cell:first-child{
    border-right: 1px solid #e0e0e0;
  }

.mat-mdc-cell, .mat-mdc-header-cell {
    text-align: center;
}

td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type, th.mat-mdc-header-cell:last-of-type{
    padding-right: 0px;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type, th.mat-mdc-header-cell:first-of-type{
    padding-left: 0px;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

.emailTableContainer > * {
    margin-left: 15px;
    margin-right: 15px;
}

.emoticon {
    position: relative;
    opacity: 0.5;
    left: 1em;
}

.searchWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}

#nameInput {
    width: 87%;
    margin-left: 24px;
}

.toggleWrapperMargin {
    margin-top: 0.5rem;
}

.mat-icon {
    color: #999;
    font-size: 19px;
    height: 19px;
}

::ng-deep.darkTheme > .mat-icon {
    /* margin-bottom: 0.5rem; */
    color: white;
}

.icon {
    margin: unset;
    width: 14px;
}

label {
    float: left;
    margin-left: -227px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 200px;
}

.alignContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.modalsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 