 * {
   margin: 0;
   padding: 0;

 }

 .storyInfoContainer{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #e5e5e5;
 }

 .darkTheme .storyInfoContainer {
    border-top: 1px solid #B0BEC5;
 }

 @media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .storyInfoLeft { order: 1; }
  .storyInfoCenter    {
    flex: 2 0px;
    order: 2;
  }
  .storyInfoRight { order: 3; }

}
  .storyInfoLeft{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
  }

  .ScenarioInfoLeft{
      display: inline;
      padding: 5px;
      align-items: center;
  }

 .storyInfoRight{
    padding: 5px;
 }

.button > em{
  color: var(--white);
  font-size: 18px;
  vertical-align: text-top;
}

 .storyInfoCenter{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
 }

 .selectLabel{
   margin-right: 3px;
 }

 .select {
   width: 120px;
 }

 .waitTime {
   width: 70px;
   margin-right: 5px;
 }

 #oneDriverCheck {
   margin-right: 5px;
 }

 #oneDriverInfoIcon{
   margin-right: 10px;
   margin-bottom: 7px;
   width: 13px;
 }

 .arrowLeft{
   width: 130px;
   float: left;
   margin-right: 5px;
 }

 #firstStoryText{
   padding-top: 30px;
   padding-left: 130px;
   width: 250px;
   text-align: center;
  }

  .emptyStories{
    color: #999;
    padding: 10px;
  }

  .emptyStories h1{
    color: #999;
  }

  .darkTheme.emptyStories h1 {
    color: white;
  }

  .emptyStories a {
    display: block;
  }

  /* .disabled input{
    color: gray;
    border-bottom: none;
  } */

  :host ::ng-deep .disabled input{
    color: gray;
    border-bottom: 1px solid gray;
  }

  ::ng-deep .darkTheme .disabled input {
    color: var(--buttonDisabled) !important;
    border-color: var(--border);
  }

  #noStoriesHeader{
    padding: 20px;
  }

  .tutorial{
    color: var(--ocean-blue);
  }

  .tutorialDiv{
    width: 550px;
    background-color: rgba(153, 153, 153, 0.342);
    padding: 20px;
    margin: 20px;
  }

  #infoImg{
    margin-top: 10px;
    margin-right: 20px;
    width: 50px;
    color: #999;
    float: left;
  }

  #infoDiv{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  #infoText{
    font-size: 15px;
  }

  #infoList{
    padding-left: 10px;
    color: var(--ocean-blue);
    list-style-type: none;
  }

  .tutorialDiv h4{
    padding-bottom: 5px;
  }


  #noStoriesHeader{
    padding-bottom: 5px;
  }

/*   .def {
      color: #999;
      cursor: help;
      position: relative;
      top: -2px;
  }

  .def span[rel=def] {
      display: none;
  } */

  :host ::ng-deep input[type="text"]{
    margin: 1px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #333;
    position: relative;
    top: -2px;
    width: auto;
    min-width: 5px;
  }

/*
  :host ::ng-deep .darkTheme input {
    background: transparent;
    color: white;
    border-bottom: 1px solid #60767b;
  } */


  .storyHeaderContainer{
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
  }

  /* .def:hover span[rel=def] {
    font-size: small;
    color: var(--white);
    background-color: rgb(109, 109, 109);
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 30em;
    padding: 0.5em;
    display: block;
  } */

  .darkTheme .def:hover span {
    background-color: #90A4AE;
  }

  #story{
    border: 1px solid #999;
    background: white;
    overflow-y: scroll;
    max-height: 88vmin;
    margin-top: 24px;
    margin-right: 2px;
  }

  .darkTheme#story {
    border: 1px solid #60767b;
    background: #455A64;
  }


  /* #infoIcon{
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
  } */


  /* double button see styles */
  .button {
    margin-right: 3px;
    color:var(--white);
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background: var(--ocean-blue);
    border: none;
    line-height: 25px;
  }

  .darkTheme .button {
    background: #607D8B;
  }

  .material-icons{
    font-size: 24px;
  }

  .uk-card-footer{
    padding: 15px 0px;
  }

  .darkTheme .uk-card-footer {
    border-top: 1px solid #B0BEC5;
  }

  .button:hover {
    background: var(--marine-blue);
  }

  .darkTheme .button:hover {
    background-color: #546E7A;
  }

  .button:active {
    background: -moz-linear-gradient(top,  rgb(2, 111, 161), #0099CC);
  }

  .button:focus {outline:0 !important;}

  .uk-button-group{
    border-radius:4px;
    /* border:2px solid var(--white); */
  }

  .padding{
    padding: 20px;
  }

  #saveButton.iconButton_unsaved em{
    color: red !important;
  }

  .uk-dropdown{
    padding: 15px;
  }

  :host ::ng-deep .uk-nav > li > span{
    padding: 1px;
    cursor: pointer;
  }

  :host ::ng-deep .uk-nav > li > .dropdownStep {
    color: var(--ocean-blue);
  }

  :host ::ng-deep .darkTheme .uk-nav > li > .dropdownStep {
    color: var(--light-blue);
  }

  :host ::ng-deep .uk-nav > li > span:hover {
      color: gray;
  }

  :host ::ng-deep .darkTheme .uk-nav > li > span:hover {
    color: white;
  }

 /*  .disabled {
    color: gray !important;
    background: var(--white) !important;
    font-style: italic;
  } */

  :host ::ng-deep .disabled {
    color: gray !important;
    /* background: var(--white) !important; */
    font-style: italic;
    text-decoration: line-through;
  }

  ::ng-deep .darkTheme .disabled {
    color: var(--buttonDisabled) !important;
  }

  .darkTheme .scenarioListItem:hover {
    background-color: var(--brown-grey);
  }

  :host ::ng-deep .scenarioBarContainer .disabled em{
    color: gray !important;
    /* background: #f8f8f8 !important; */
  }

  ::ng-deep .darkTheme .scenarioBarContainer .disabled em {
    color: var(--buttonDisabled) !important;
  }

  .dragIconContainer{
    text-align: center;
    cursor: move;
  }

  em.dragIcon{
    font-size: 18px;
    color: black;
    background-color: var(--white);
    margin-top:3px
  }

  .text-inline{
    display: flex;
  }

  .text-inline > button{
    margin: 0 5px;
  }

  .text-inline > p > input{
    margin: 0 5px;
  }

  .uk-card-title {
    font-size: medium;
    font-weight: bold;
  }

  .disabledButton{
    visibility: hidden;
    background:#dddddd
  }

  .darkTheme .disabledButton {
    background: var(--buttonDisabled) !important;
  }

  input.backgroundName{
    margin: 5px;
  }

  #loading{
    /* text-align: center;
    font-size: 40px; */
    display: flex;
    justify-content: center;
  }

  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--ocean-blue);
  }

  .darkTheme.loading {
    color: white;
  }

  .showButton{
    padding-right: 40px;
  }

  .expand:hover {
    background-color: lightgrey;
    transition: 0.3s;
    cursor: pointer;
    margin: 3px 3px 3px 3px;
  }

  .darkTheme .expand:hover {
    background-color: #90A4AE;
  }

  .backgroundContainer{
    margin-bottom: 20px;
  }

  .title {
    color: #333;
    font-size: medium;
    font-weight: 700;
    line-height: 1.4;
    padding: 15px 30px;
  }

  .darkTheme .title {
    color: white;
  }

  .storyTitle{
    color: var(--ocean-blue);
    /* background: var(--white); */
    background: none;
    border: none;
    text-align: center; margin: 0px auto;
    margin-right: 2px;
  }

  .darkTheme .storyTitle {
    color: var(--light-blue);
  }
  .marginLeft{
    margin-left: 40px;
    display:inline-block;
  }

/*   span.notPassed{
    background-color: red;
  }

  span.passed{
    background-color: green;
  }

  .darkTheme span.passed {
    background-color: #4CAF50;
  }

  a.passed{
    color: green;
  }

  .darkTheme a.passed {
    color: #4CAF50;
  }

  a.notPassed{
    color: red;
  } */

  .dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }

  .lastTestText {
    margin-right: 10px;
  }

  .checkbox{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 3px
  }

  .checkbox:hover{
    cursor: pointer;
  }

/* .scenarioBarContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}  */
/*
.darkTheme.scenarioBarContainer {
  border-bottom: 1px solid black;
}

.exampleBarContainer{
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: flex;
}

.scenarioBarContainer button,
.exampleBarContainer button{
  border: none;
  background: #f8f8f8;
  transform: translate(0px, -3px);
  height: 24px;
  border-radius: 10%;
}

.scenarioBarContainer > div,
.exampleBarContainer{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: flex;
  height: 40px;
}

.actionBarButtonGroup{
  margin-left: 3px;
}

.scenarioButton {
  margin-right: 10px;
}

.actionButton > em{
  color: #333;
  font-size: 22px;
}

.actionButton{
  margin-left: 10px;
}

.scenarioButton em{
  color:  var(--ocean-blue);
}

.scenarioButton em:active {
  background-color: var(--ocean-blue);
  color: var(--white);
} */

:host ::ng-deep .scenarioBarContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  margin: 0px 20px;
}

:host ::ng-deep .darkTheme .scenarioBarContainer,
::ng-deep .darkTheme .exampleBarContainer{
  background-color: #546E7A !important;
  border-bottom: 1px solid #B0BEC5 !important;
}

:host ::ng-deep .exampleBarContainer{
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: flex;
}

:host ::ng-deep .scenarioBarContainer button,
.exampleBarContainer button{
  border: none;
  background: none;
  transform: translate(0px, -3px);
  height: 24px;
  border-radius: 10%;
}

:host ::ng-deep .scenarioBarContainer > div,
.exampleBarContainer{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: flex;
  height: 40px;
}

:host ::ng-deep .scenarioButton {
  margin-right: 10px;
}

:host ::ng-deep .actionBarButtonGroup{
  margin-left: 3px;
}

:host ::ng-deep .actionButton{
  margin-left: 10px;
}

:host ::ng-deep .actionButton > em{
  color: #333;
  font-size: 22px;
}

:host ::ng-deep .darkTheme .actionButton > em {
  color:#000000;
}

:host ::ng-deep .scenarioButton em{
  color:  var(--ocean-blue);
}

:host ::ng-deep .darkTheme.scenarioButton em{
  color:  var(--ocean-blue);
}

:host ::ng-deep .scenarioButton em:active {
  background-color: var(--ocean-blue);
  color: var(--white);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
::ng-deep .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

::ng-deep .darkTheme .dropdown-content {
  background-color: #60767b;
  color: white;

}

.dropup{
  bottom: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.darkTheme .dropdown-content a:hover {background-color: #90A4AE;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#story_change_title > em {
  color: var(--ocean-blue);
  font-size: 24px;
  padding-left: 4px;
}

#story_delete > em{
  color: var(--ocean-blue);
   font-size: 24px;

}

#storyInfoTextVerticalPosition {
  left: 8em;
  top: -4em;
}


#backgroundInfoTextVerticalPosition {
  left: 15em;
  top: 0em;
}

.darkTheme p {
  color:white;
}

.darkTheme.uk-card-default {
  background: none;
}

.SmallHeadline5 span[rel="def"]{
  line-height: 1.5;
}

.uk-icon {
  background-color: transparent !important;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel{
width: 96% !important;
left: 30px;
border: 0 !important;
box-shadow: none;
font-weight: bold;

}
.mat-expansion-panel-header{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    border: 0;
    box-shadow: none;
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
    height: 24px;
    padding-right: 31px;
}
button#background_up {
  padding-right: 20px;
}

.darkTheme.emptyStories h1,
.darkTheme.emptyStories h4,
.darkTheme.emptyStories p {
  color: white;
}
