<ng-template #executionListModal let-modal>
  <div class="modal-header">
    <span id="modalHeader" class="MediumSubline1H4 modal-title">Select Xray Test Execution</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li *ngFor="let testExecution of this.testExecutions" class="list-group-item d-flex justify-content-between align-items-center">
        {{ testExecution.testExecKey }}
        <input type="checkbox" [(ngModel)]="testExecution.selected" (change)="toggleSelection(testExecution.testRunId, testExecution.selected)">
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="normalButton" (click)="submitSelection()">Run</button>
  </div>
</ng-template>
