
<div><h1>Account Settings</h1></div>
<hr>
<div class="grid-container">
    <div class="grid_seedTest">
            <h2>Seed-Test Account</h2>
            <div class="uk-form-horizontal">
                <label>E-Mail
                <input id="email_field" [defaultValue]="email">
                </label>
            </div>
    </div>
    <div class="grid_db">
        <h2>Custom Repositories</h2>
        <div>Create a Repository:</div>
        <div class="uk-form-horizontal">
            <label>
                Name of Repository
                <input id="repo_name" defaultValue="YourRepoName">
            </label>
        </div>
        <div class="uk-form-horizontal">
            <button class="button" id="create_db_repo" (click)="createRepo()">Create Repository</button>
        </div>
         <!------------------Repositories DB------------------->
         <div class="repositories" *ngIf="repositories">
            <div id="repositoriesList">
              <label class="selectRepository">Database Repositories:</label>
              <ul class="uk-list">
                <ng-container *ngFor="let repository of repositories; let i = index">
                <li *ngIf="this.apiService.isCustomRepo(repository)">
                <div>
                  <img class="repo_img" *ngIf="this.apiService.isCustomRepo(repository)"  src="../assets/database-5-32.png">
                  <a class="repoLink" id="{{'repository_'+i}}" (click)="selectRepository(repository);" >{{repository.value}}</a>
                </div>
                </li>
                </ng-container>
              </ul>
            </div>
        </div>
         <!------------------------------------->
    </div>
    <hr>
    <div class="grid_github" *ngIf="github">
        <h2>Github</h2>
        <div class="uk-form-horizontal">
            <label>
                Github-Account:
                <label id="gitacc">{{github['login']}}</label>
            </label>
        </div>
        <br>
        <hr>
        <div class="githubLoginContainer" (click)="disconnectGithub()">
            <div>
                <button class="githubButton">
                    <img src ="../assets/github-logo.png">
                    <p>Disconnect Github</p>
                </button>
            </div>
         </div>
    </div>
    <div class="grid_github" *ngIf="!github">
        <h2>Github</h2>
        <div class="githubLoginContainer" >
            <button class="githubButton" (click)="login()">
               <img src ="../assets/github-logo.png">
               <p>Connect Github</p>
            </button>
         </div>
         <!------------------Repositories GITHUB------------------->
         <div class="repositories" *ngIf="repositories">
            <div id="repositoriesList">
              <label class="selectRepository">Github Repositories:</label>
              <ul class="uk-list">
                <ng-container *ngFor="let repository of repositories; let i = index">
                <li *ngIf="this.apiService.isGithubRepo(repository)">
                <div>
                    <img class="repo_img" *ngIf="this.apiService.isGithubRepo(repository)" src="../assets/GitHub-Mark-32px.png">
                  <a class="repoLink" id="{{'repository_'+i}}" (click)="selectRepository(repository);" >{{repository.value}}</a>
                </div>
                </li>
                </ng-container>
              </ul>
            </div>
        </div>
         <!------------------------------------->
    </div>
    <br>
    <hr>
    <div class="grid_jira">
        <h2>Jira</h2>
        <div id="jiraDiv" *ngIf="jira">
            <div class="uk-form-horizontal">
                <label>
                    Jira-Name
                    <input [defaultValue]="jira['AccountName']">
                </label>
            </div>
            <!--<div class="uk-form-horizontal">-->
                <!--<label>-->
                    <!--Jira-Password-->
                    <!--<input id="jira_password" type="password" name="jira_password" placeholder=" Password">-->
                <!--</label>-->
            <!--</div>-->
            <div class="uk-form-horizontal">
                <label>
                    Jira-Server
                    <input [defaultValue]="jira['Host']">
                </label>
            </div>
        </div>
        <div id="ChangeJiraDiv">
            <button class="button" id="change-jira" (click)="jiraLogin()">Login to Jira</button>
        </div>
         <!------------------Repositories JIRA------------------->
         <div class="repositories" *ngIf="repositories">
            <div id="repositoriesList">
              <label class="selectRepository">Jira Repositories:</label>
              <ul class="uk-list">
                <ng-container *ngFor="let repository of repositories; let i = index">
                <li *ngIf="this.apiService.isJiraRepo(repository)">
                <div>
                    <img class="repo_img" *ngIf="this.apiService.isJiraRepo(repository)" src="../assets/jira-logo-gradient-blue@2x-300x177.png">
                  <a class="repoLink" id="{{'repository_'+i}}" (click)="selectRepository(repository);" >{{repository.value}}</a>
                </div>
                </li>
                </ng-container>
              </ul>
            </div>
        </div>
         <!------------------------------------->
    </div>
    <hr>
</div>

<app-login-form #loginForm (mongoUpdate)="updateSite($event);"></app-login-form>
