
.subHeader{
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.material-icons{
    color: var(--ocean-blue);
    font-size: 20px !important;
}
.previewEditBlock{
    display: flex;
    justify-content: center;
}
.disabled {
    color: gray !important;
}

.blockButton{
    border: none;
    background: inherit;
}

[contenteditable='true'] {
    caret-color: red;
    outline: 0px solid transparent;
}

.blockButton.disabled em{
    color: gray !important;
}

table {
    width: 100%;
    margin-top:5px;
    padding: 0 10px 0;
}

.mat-mdc-table .mat-mdc-cell:first-child{
    border-right: 1px solid #e0e0e0;
}

.mat-mdc-cell {
    text-align: center;
}
.normalButton:disabled{
    opacity: 20%;
}
.modal-ccc{
    width: 110%;
}
td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type{
    padding: 0 10px 0;
    word-break: break-all;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type{
    padding: 0 5px 0;
}

.dividerContainer{
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0px 2px 0px;
}
::ng-deep .mdc-checkbox{
    display: none !important;
}

.savedBlocksContainer, .previewContainer{
    border: 1px solid #e0e0e0;
    flex: 1;
    overflow-y: auto;
    border-bottom: 0px;
    padding: 5px;
}
.previewContainer label{
    cursor: text;
    word-break: break-word;
}
.previewContainer div{
    cursor: default;

}
::ng-deep div.mat-mdc-list-item-content.mat-mdc-list-item-content-reverse .deleteBlockButton{
    margin-right: 20px;
}

::ng-deep div.mat-mdc-list-item-content.mat-mdc-list-item-content-reverse div.mat-mdc-list-text{
    display: flex;
    flex-direction: row;
}


.infoIcon{
    color: var(--white);
    margin-left: 5px;
    margin-right: 5px;
}

#addBlockFooter{
    justify-content: space-between;
}


#addAsReferenceLabel, #blockAddAslabel{
    margin-right: 5px;
    margin-top: 3px
}
.addReferenceBlockToStepType{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#addAsReferenceCheckbox{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 3px
}
.addAsReference{
    display: flex;
    align-items: center;
}
.addBlockDropDownDiv{
    margin-bottom: 15px;
}
.mat-table{
    font-family: Klavika, sans-serif;
}

.emailTableContainer{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-height: 800px) {

    .dividerContainer{
        max-height: 300px;
        overflow-y: auto;
    }
}

@media screen and (min-width: 500px){

    ::ng-deep body > ngb-modal-window > .addBlock.modal-dialog {
        max-width: none !important;
    }
}

::ng-deep body > ngb-modal-window > .addBlock.modal-dialog {
    width: 80%;
    min-width: 1000px;
}

::-webkit-scrollbar-thumb {
    background: #90CAF9;
}

::ng-deep.darkTheme h4 {
    color: white !important;
}

.modalsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.forBackground{
    justify-content: end !important;
}