<!-- add block form Modal-->
<ng-template #addBlockFormModal let-modal>
  <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="modalHeader" class="MediumSubline1H4 modal-title">Add Block</span>
        <dfn class="def"><span class="infoIcon" uk-icon="info"></span></dfn>
        <span rel="def">Add a saved Block. These Steps will get appended to the steps of this story.
        </span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="dividerContainer">
        <div class="savedBlocksContainer">
          <p class="subHeader">Saved Blocks</p>
          <mat-selection-list [(ngModel)]="selectedBlockList" (selectionChange)="changeBlockSelection($event)" name="folderss">
              <mat-list-option  *ngFor="let block of blocks, let rowIndex = index" [value]="block" >
                <button a uk-icon="icon: minus-circle" class="deleteBlockButton uk-text-danger" uk-tooltip title="Delete Block" (click)="deleteBlock($event, rowIndex, block)"></button>
                <h4 mat-line>{{block.name}}</h4>
              </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="previewContainer">
          <p class="subHeader" *ngIf="selectedBlock == undefined">Preview</p>
          <p class="subHeader" *ngIf="selectedBlock != undefined">Preview: {{selectedBlock.name}}</p>
          <table id="savedStepTable" mat-table [dataSource]="stepList" class="mat-elevation-z8" aria-describedby="mydesc">
              <ng-container matColumnDef="stepType">
                <th id="savedStepTypeCell" mat-header-cell *matHeaderCellDef> Steptype </th>
                <td mat-cell *matCellDef="let element"> {{element.stepType}} </td>
              </ng-container>
              <ng-container matColumnDef="pre">
                <th id="savedStepCell" mat-header-cell *matHeaderCellDef> Step </th>
                <td mat-cell *matCellDef="let element"> {{element.pre}} {{ element.values[0] }} {{element.mid}} {{ element.values[1]}} {{ element.values[2]}} {{ element.values[3]}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="normalButton"  (click)="addBlockFormSubmit(); modal.close('Save click')">Add Block
        </button>
    </div>
  </ng-template>