<!-- add block form Modal-->
<ng-template #addBlockFormModal let-modal>
  <app-layout-modal></app-layout-modal>
  <div class="modal-header">
    <span id="modalHeader" class="MediumSubline1H4 modal-title">Add block</span>
    <dfn class="def"><span class="infoIcon uk-icon" uk-icon="info"></span>
      <span rel="def">Add a saved Block. These Steps will get appended to the steps of this story.
      </span>
    </dfn>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div (keydown.enter)="enterSubmit($event)">
      <div class="dividerContainer">
        <div class="savedBlocksContainer">
          <p class="subHeader">Saved Blocks</p>
          <mat-selection-list [(ngModel)]="selectedBlockList" (selectionChange)="changeBlockSelection($event)" name="folderss">
              <mat-list-option  *ngFor="let block of blocks, let rowIndex = index" [value]="block" style="height: 100%; margin-bottom: 10px;">
                <label mat-line style="white-space: pre-wrap; word-break: break-all;">{{rowIndex+1}}. {{block.name}}</label>
              </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="previewContainer">
            <div class="previewEditBlock">
              <p class="subHeader" *ngIf="selectedBlock == undefined">Preview</p>
                <div class="subHeader" *ngIf="selectedBlock != undefined "> 
                  <b *ngIf="selectedBlock.isBackground === undefined">Preview:</b>
                  <b *ngIf="selectedBlock.isBackground == true">Preview background:</b>
                  <label id="newTitle" contentEditable="false" spellcheck="false" (keyup)="checkName()">{{selectedBlock.name}}</label>
                </div>
                <button *ngIf="this.blockSaved == true" id="editBlock" class="blockButton" (click)="changeBlockTitle();" title="Change Block Title" [class.disabled]="selectedBlock == undefined" [disabled]="selectedBlock == undefined">
                  <em class="material-icons">edit</em>
                </button>   
                <button *ngIf="this.blockSaved == false" id="saveBlockButton" class="blockButton" title="Save Block" [class.disabled]="saveBlockButtonDisable == true" [disabled]="saveBlockButtonDisable == true" (click)="updateBlock();">
                  <em class="material-icons">save</em>
                </button>
                <button id="deleteBlock" class="blockButton" [class.disabled]="selectedBlock == undefined" [disabled]="selectedBlock == undefined" title="Delete Block" (click)="deleteBlock($event)">
                 <em class="material-icons">delete</em>
                </button>
            </div>
            <table id="savedStepTable" mat-table [dataSource]="stepList" class="mat-elevation-z8" aria-describedby="mydesc">
              <ng-container matColumnDef="stepType">
                <td mat-cell *matCellDef="let element" style="text-transform: capitalize"> 
                  <ng-container *ngIf="element.stepType!='example'">{{element.stepType}}</ng-container>
                  <ng-container *ngIf="element.stepType=='example'">Multiple Scenario</ng-container></td>
              </ng-container>
              <ng-container matColumnDef="pre">
                <td mat-cell *matCellDef="let element"> 
                  <ng-container *ngIf="element.stepType!='example'">{{element.pre}} {{element.values[0]}} {{element.mid}} {{element.values[1]}} {{element.values[2]}} {{element.values[3]}}</ng-container>
                  <ng-container *ngIf="element.stepType=='example'"><ng-container *ngFor="let el of element.values">{{el}} | </ng-container></ng-container></td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </div>
      <div id="addBlockFooter" class="modal-footer">
        <form class="addAsReference">
          <label id="addAsReferenceLabel">Add Block as Reference: </label>
          <input id="addAsReferenceCheckbox "type="checkbox"  [checked]="this.addAsReference" (change)="checkAddAsReference()">
          <dfn class="def">
            <span class="infoIcon uk-icon" uk-icon="info" style="color:#999999"></span>
            <span rel="def">
              Add the saved Block as a Reference to adopt changes, when steps in the original Block get changed.
            </span>
          </dfn>
        </form>
        <button type="button" class="normalButton"  (click)="onClickSubmit()">Add Block</button>
      </div>
    </div>
  </ng-template>
