<div class="grid">
    <div class="formular">
      <!-- Formular -->
      <h1 id="headerFont">Registration</h1>
      <form #form="ngForm" novalidate (ngSubmit)="registerUser(form);">
        <hr>
        <!-- Label1 -->
        <label class="uk-form-label"></label>
        <input id="email" type="email" name="email" placeholder="Email" #email ngModel class="uk-form-controls" required>
        <br>
        <!-- Label2 -->
        <label class="uk-form-label"></label>
        <br>
        <input id="password" type="password" name="password" placeholder=" Password" #password ngModel class="uk-form-controls" required>
        <!-- Label3
        <label class="uk-form-label"></label>
        <br>
        <input type="password" placeholder="Password" class="uk-form-controls" required>
        more Labels:
        <label class="uk-form-label"></label>
        <br>
        <input type="text" placeholder="labelMore" class="uk-form-controls" required>
        -->
        <br>
        <br>
        <!-- Button Register -->
        <button class="registerButton" type="submit" [disabled]="form.invalid">Register</button>
        <br>
      </form>
      <hr>
    </div>
  </div>