.grid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    grid-template-areas: "formular";
    /* background-color: var(--white); */
}

.formular{
    grid-area: formular;
    grid-column: 2;
    text-align: center;
    width: 500px;
    background-color: var(--white);
    padding: 80px 50px;
}

.darkTheme .formular {
    background-color: #60767b; 
}

#infoIcon{
    color: #999;
    padding: 5px;
  }

#passwordLengthInfo{
    font-size: small;
}

#headerFont{
    color:var(--ocean-blue);
}
.darkTheme #headerFont {
    color:var(--light-blue); 
}

.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #53d35a; 
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid var(--ocean-blue); 
  }

.cross-validation-error input {
    border-left: 5px solid #d15553;
  }

input.wrongEmail {
  border-left: 5px solid #d15553;
}

#email, #confirmPassword{
    margin: 25px;
}

.wrongLogin{
    background-color: rgb(228, 92, 92);
    text-align: center;
}


@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "formular";
    }
}