<div class="grid">
    <div class="formular">
      <!-- Formular -->
      <h1 id="headerFont">Registration</h1>
      <form #form="ngForm">
        <hr>
        <!-- Label1 -->
        <label class="uk-form-label"></label>
        <input type="text" placeholder="Label1" class="uk-form-controls" required>
        <br>
        <!-- Label2 -->
        <label class="uk-form-label"></label>
        <br>
        <input type="text" placeholder="Label2" class="uk-form-controls" required>
        <!-- Label3 -->
        <label class="uk-form-label"></label>
        <br>
        <input type="text" placeholder="Label3" class="uk-form-controls" required>
        <!-- more Labels:
        <label class="uk-form-label"></label>
        <br>
        <input type="text" placeholder="labelMore" class="uk-form-controls" required>
        -->
        <br>
        <br>
        <!-- Button Register -->
        <button class="registerButton" [disabled]="form.invalid">Register</button>
        <br>
      </form>
      <hr>
    </div>
  </div>