:host ::ng-deep .stepsListContainer{
  display: flex;
  justify-content: space-between;
}
  
:host ::ng-deep .stepsListContainer em{
  color: var(--ocean-blue);
}
  
:host ::ng-deep .stepsListContainer .disabled em{
  color: gray !important;
}

.disabled {
  color: gray !important;
  font-style: italic;
  text-decoration: line-through;
}

#warning{
  color: white !important;
}
:host ::ng-deep .stepsListContainer button{
  border: none;
  background: none;
}

:host ::ng-deep .checkbox{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-top: 5px
} 

.checkbox {
  margin: 4.5px 5px 15px 3px;
}

:host ::ng-deep .checkbox:hover{
  cursor: pointer;
}

:host ::ng-deep #checkbox_all_example{
  margin-left: 10px;
}
  
:host ::ng-deep #checkbox_all{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 15px;
}

.select-item-drag-preview {
  background-color: rgba(204, 0, 102, 0);
  font-weight: bold;
  border: 2px solid #666;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  line-height: 30px;
text-align: center;
}

input[type=checkbox] {
  height: 13px;
}

.stepsContainer {
	white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.stepLine {
  box-sizing: border-box;
  width: fit-content;
  max-width: inherit;
  padding: 1px 20px 1px 20px;
} 

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragIconContainer{
  text-align: center;
  cursor: move;
  margin-top: 1.5px;
}

em.dragIcon{
  font-size: 18px;
  color: black;
  background-color: var(--white);
  margin-top:1px;
}

.text-inline{
  display: flex;
}

.mat-expansion-panel-header.stepBlockHeader{
  height: 100%;
  padding: 3.4px
}

.blockReference{
  width: 100%;
}

.text-inline > button{
  margin: 0 5px;
}
.stepBlockTitle{
  justify-content: center;
  word-break: break-word;
  white-space: pre-wrap;
}  
.stepBlockTitle .SmallHeadline5{
  margin-top: 2px; 
  font-weight: bold; 
  text-align: center;
}
.blockButton{
  border: none;
  background: inherit;
}

.darkTheme .blockBarContainer {
  background-color: #546E7A !important;
  border-bottom: 1px solid #B0BEC5 !important;
}

.blockButtonGroup .material-icons{
  color: var(--ocean-blue);
}
.mat-action-row.blockButtonGroup{
  padding: 5px 8px 0px 24px !important;
}
.text-inline > p > input{
  margin: 0 5px;
}

.uk-card-title {
  font-size: medium;
}
.addStepButton{
  border: inherit;
  background: inherit;
  color: var(--ocean-blue);
  float: right;
  transform: translate(0, -45px);

}
em.addStep{
  color: var(--ocean-blue);
}

.pencil_icon {
  padding-left: 12px;
}

:host ::ng-deep .disabled {
  color: gray !important;
  /* background: var(--white) !important; */
  font-style: italic;
  text-decoration: line-through;
}

:host ::ng-deep .darkTheme .disabled {
  color: var(--buttonDisabled) !important;
}

.checkboxDropdown{
  margin-top: -15px !important;
}

input[type="text"]{
	margin: 1px;
	padding: 1px;
	border: none;
	border-bottom: 1px solid #333;
	position: relative;
	top: -2px;
	width: auto;
	min-width: 5px;
}

.scenarioBarContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  margin: 0px 20px;
} 

.scenarioBarContainer button,
.exampleBarContainer button{
  border: none;
  background: none;
  transform: translate(0px, -3px);
  height: 24px;
  border-radius: 10%;
}

.scenarioBarContainer > div,
.exampleBarContainer{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  display: flex;
  height: 40px;
}

/* :host ::ng-deep .scenarioTitle{
  background: transparent;
  border: none;
  margin-right: 2px;
} */

/* .scenarioTitle {
  background: transparent;
} */

/* :host ::ng-deep .scenarioTitle > em {
  color:  var(--ocean-blue);
  font-size: 24px;
  transform: translate(0px, 3px)
} */

:host ::ng-deep .scenarioTitle{
  /* background: var(--white); */
  background: transparent;
  border: none;
  margin-right: 2px;
}

/* :host ::ng-deep  .darkTheme, .scenarioTitle {
  background: transparent;
} */


:host ::ng-deep  .scenarioTitle > em{
  color:  var(--ocean-blue);
  font-size: 24px;
  transform: translate(0px, 3px)
}

.exampleBarContainer{
  border-bottom: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  display: flex;
}

.scenarioButton {
  margin-right: 10px;
}

.actionBarButtonGroup{
  margin-left: 3px;
}

.actionBarButtonGroup .disabled em {
  color: gray !important;
  /* background: #f8f8f8 !important; */
}

.actionButton{
  margin-left: 10px;
}

.actionButton > em{
  color: #333;
  font-size: 22px;
}

.darkTheme .actionButton > em {
  color:#000000;
}

.scenarioButton em{
  color:  var(--ocean-blue);
}

.darkTheme.scenarioButton em{
  color:  var(--ocean-blue);
}

.scenarioButton em:active {
  background-color: var(--ocean-blue);
  color: var(--white);
}

:host ::ng-deep .disabled input{
	color: gray;
	border-bottom: 1px solid gray;
}

:host ::ng-deep .darkTheme .disabled input {
	color: var(--buttonDisabled) !important;
	border-color: var(--border);
}

.uk-dropdown{
  padding: 15px;
}

/* .darkTheme .uk-dropdown {
  background-color: #60767b;
} */

.padding{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

/* Eventually not in use */
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

:host ::ng-deep .scenarioBarContainer .disabled em{
  color: gray !important;
  /* background: #f8f8f8 !important; */
}

:host ::ng-deep .darkTheme .scenarioBarContainer .disabled em {
  color: var(--buttonDisabled) !important;
}

.exampleList{
  min-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.stepInBlock{
  display: inline-flex;
  margin-bottom: 10px; 
  max-width: 660px; 
  max-height: 20px;
}
.exampleList ::ng-deep .mat-mdc-form-field-wrapper{
  padding-bottom: 0px !important;
}
mat-expansion-panel.stepBlockContainer  .mat-expansion-panel-body{
  padding: 0 4px 0px 10px;
}

.exampleList ::ng-deep .mat-mdc-form-field-underline{
  bottom: 0px !important;
}
.exampleList ::ng-deep .mat-mdc-select-value{
  color: var(--ocean-blue) !important;
  font-weight: bold !important;
  max-width: max-content !important;
}
::ng-deep .mat-mdc-select-panel-above{
  width: auto !important;

}
.mat-expansion-panel{
  width: 100%;
}
:host::ng-deep .mat-mdc-text-field-wrapper{
  height: 26px;
  background-color: transparent;
  padding: 0;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
  height: 5px;
}

.exampleListOption {
  font-weight: bold !important;
}

.darkTheme ::ng-deep .exampleList .mat-mdc-select-value {
  font-weight: 595 !important;
 }

::ng-deep .darkTheme .exampleListOption {
  font-weight: 595 !important;
}
 
.exampleList ::ng-deep .mat-mdc-form-field-infix {
  width: fit-content !important;
}

.exampleButton{
  height: 20px;
  width: 20px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  border: 2px solid;

  text-align: center;

  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  color: var(--ocean-blue) 

}

.darkTheme ::ng-deep .exampleButton {
  color: var(--light-blue) 
}


.exampleMatSelect{
  padding-left: 5px;
}

.uk-nav > li > span{
  padding: 1px;
  cursor: pointer;
}

:host ::ng-deep .uk-nav > li > .dropdownStep {
  color:var(--ocean-blue);
}

/* :host ::ng-deep .darkTheme .uk-nav > li > .dropdownStep {
  color: #40C4FF;
} */
:host ::ng-deep .darkTheme .uk-nav > li > .dropdownStep {
  color: var(--light-blue);
}

.dropdownStep {
  color: var(--ocean-blue);
}

:host ::ng-deep .uk-nav > li > span:hover {
    color: gray;
}

:host ::ng-deep .darkTheme .uk-nav > li > span:hover {
  color: white;
}

:host ::ng-deep .uk-nav > li > .dropdownStepUndefined {
  color:var(--marine-blue);
}

:host ::ng-deep .darkTheme .uk-nav > li > .dropdownStepUndefined {
  color:#00B0FF;
}

#saveButton.iconButton_unsaved em{
  color: red !important;
}

input.scenario, input.background {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#tableAddButton{
  grid-column: 1;
  grid-row: 1;
  font-size: 15px !important;
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 30px;
  z-index: 100;
}

#tableAddButtonBackground{
  grid-column: 1;
  grid-row: 1;
  font-size: 10px !important;
  margin-top: 14px;
  margin-left: 14px;
  background-color: #f8f8f8;
  border-radius: 30px;
  z-index: 50;
  color: #f8f8f8 !important;
  width: 11px !important;
  height: 11px !important;

 }
 .scrollable {
  overflow: auto;
  max-height: 200px;
}

#block-edit-steps {
  overflow-y: scroll;
  max-height: 250px;

  &::-webkit-scrollbar-thumb {
      background-color: #90CAF9;
    
  }
}