// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cucumber-frontend-primary: mat-palette($mat-indigo);
$cucumber-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cucumber-frontend-warn: mat-palette($mat-red);
$cucumber-background-color: map_get($mat-brown, 50);

$mat-light-theme-background: map_merge($mat-light-theme-background, (background: $cucumber-background-color));

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cucumber-frontend-theme: mat-light-theme((
  color: (
    primary: $cucumber-frontend-primary,
    accent: $cucumber-frontend-accent,
    warn: $cucumber-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cucumber-frontend-theme);

/*
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/_theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cucumber-frontend-primary: mat-palette($mat-indigo);
$cucumber-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cucumber-frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cucumber-frontend-theme: mat-light-theme((
  color: (
    primary: $cucumber-frontend-primary,
    accent: $cucumber-frontend-accent,
    warn: $cucumber-frontend-warn,
  )
));*/

// Define a dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-light-blue, 400,500,600);
$dark-background-color: #000000;

$mat-dark-theme-background: map_merge($mat-dark-theme-background, (background: $dark-background-color));


$dark-theme: mat-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));


.darkTheme {
  @include angular-material-theme($dark-theme);
}

.darkTheme button {
  background: var(--dark-grey);
  color: white;
}

.darkTheme span {
  color: var(--white);
}

.darkTheme a {
  color:var(--light-blue) !important;
}

.darkTheme a:hover {
  color:var(--white) !important;
}

.darkTheme svg {
  color: var(--white);
}

.darkTheme em {
  color: var(--light-blue) !important;
}

.darkTheme .dropdown-list {
  background-color: transparent;
}

.darkTheme label {
  color:var(--white);
}

.darkTheme hr {
  border: 1px solid #78909C;
}

.darkTheme .uk-card-default {
  background: none;
}


/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  	body{
  	    overflow-y:scroll;
  	    font-family: 'Klavika', sans-serif;
  	}
  	@font-face {
  	    font-family: Klavika, sans-serif;
  	    src: local(Klavika-Light), url(fonts/Klavika-Light.otf) format("opentype");
  	    font-weight: 300;
  	    font-style: normal;
  	    font-stretch: normal;
  	}
  	@font-face {
  	    font-family: Klavika, sans-serif;
  	    src: local(Klavika-Regular), url(fonts/Klavika-Regular.otf) format("opentype");
  	    font-weight: normal;
  	    font-style: normal;
  	    font-stretch: normal;
  	}
  	@font-face {
  	  font-family: Klavika, sans-serif;
  	  src: local(Klavika-Medium), url(fonts/Klavika-Medium.otf) format("opentype");
  	  font-weight: 500;
  	  font-style: normal;
  	  font-stretch: normal;
  	}

  :root{
      --ocean-blue: #0071b9;
      --grape: #782f40;
      --white: #ffffff;
      --black: #000000;
      --baby-poo: #a79300;
      --brown-grey: #887d75;
      --grey-blue: #678b97;
      --sunflower-yellow: #f9e700;
      --sienna: #995219;
      --pumpkin-orange: #ef8200;
      --light-peach: #dcd9d7;
      --very-light-pink: #f3f2f1;
      --brown: #594800;
      --marine-blue: #003754;
      --charcoal-grey: #364445;
      --pale: #e8e4e1;
      --grape-purple: #40171d;
      --dark-forest-green: #002e19;
      --violet: #7e4654;
      --grey: #505555;
      --dark-grey: #857971;
      --light-grey: #E8E4E1;
      --light-blue: #a0d9ff;
      --deep-grey : #60767b;
  }

  .LargeHeadline1 {
    font-family: Klavika, sans-serif;
    font-size: 56px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline2 {
    font-family: Klavika, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline1 {
    font-family: Klavika, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline3 {
    font-family: Klavika, sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeSublineH1 {
    font-family: Klavika, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeCategory1 {
    font-family: Klavika, sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.6px;
    color: var(--brown-grey);
  }
  .SmallHeadline1 {
    font-family: Klavika, sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeIntro {
    font-family: Klavika, sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline3 {
    font-family: Klavika, sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumSublineH1 {
    font-family: Klavika, sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline4 {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largeaccordeon1 {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .LargeSublineH4 {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largenavigation2 {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .MediumCategory1 {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.2px;
    color: var(--brown-grey);
  }
  .MediumIntro {
    font-family: Klavika, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline4 {
    font-family: Klavika, sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumSubline1H4 {
    font-family: Klavika, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline5 {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumaccordeon1 {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .LargeBody1compact {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeBody1regularLH {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumnavigation2 {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .SmallCategory1 {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--brown-grey);
  }
  .SmallIntro {
    font-family: Klavika, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largeaccordeon2 {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .Largenavigation1 {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .MediumHeadline5 {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallaccordeon1 {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .MediumBody1compact {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumBody1regularLH {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallnavigation2 {
    font-family: Klavika, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .LargeButton {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }
  .LargeLink {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumaccordeon2 {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .Mediumnavigation1 {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .SmallHeadline5 {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallnavigation1 {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .LargeBody2 {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallBody1compact {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallBody1regularLH {
    font-family: Klavika, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumButton1 {
    font-family: Klavika, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallButton {
    font-family: Klavika, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    //color: var(--black);
    color:var(--white);
    background: var(--ocean-blue);
    cursor: pointer;
  }
  .SmallButton:hover{
    background: var(--marine-blue);
  }

  .SmallIcontext {
    font-family: Klavika, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .Largecaption {
    font-family: Klavika, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumBody2 {
    font-family: Klavika, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeCategory2 {
    font-family: Klavika, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.6px;
    color: var(--black);
  }
  .Mediumcaption {
    font-family: Klavika, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }


  .normalButton{
    color:var(--white);
    padding: 5px 10px !important;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    background: var(--ocean-blue);
    border: none;
}

.normalButton:hover{
  background: var(--marine-blue);
}

.deleteButton{
  background: var(--grape);
}

.darkTheme .deleteButton {
  background: var(--grape);
}

.deleteButton:hover{
  background: var(--grape-purple);
}

.mat-slide-toggle {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(255 249 210 / 54%) !important;
}

.mat-checked .mat-slide-toggle-thumb {
  background-color: bisque !important;
}

.mat-icon {
  vertical-align: middle;
}


.uk-button-group {
  border: transparent;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
