/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  	body{
  	    overflow-y:scroll;
  	    font-family: 'Klavika', sans-serif;
  	}
  	@font-face {
  	    font-family: Klavika;
  	    src: local(Klavika-Light), url(fonts/Klavika-Light.otf) format("opentype");
  	    font-weight: 300;
  	    font-style: normal;
  	    font-stretch: normal;
  	}
  	@font-face {
  	    font-family: Klavika;
  	    src: local(Klavika-Regular), url(fonts/Klavika-Regular.otf) format("opentype");
  	    font-weight: normal;
  	    font-style: normal;
  	    font-stretch: normal;
  	}
  	@font-face {
  	  font-family: Klavika;
  	  src: local(Klavika-Medium), url(fonts/Klavika-Medium.otf) format("opentype");
  	  font-weight: 500;
  	  font-style: normal;
  	  font-stretch: normal;
  	}
  
  :root{
      --ocean-blue: #0071b9;
      --grape: #782f40;
      --white: #ffffff;
      --black: #000000;
      --baby-poo: #a79300;
      --brown-grey: #887d75;
      --grey-blue: #678b97;
      --sunflower-yellow: #f9e700;
      --sienna: #995219;
      --pumpkin-orange: #ef8200;
      --light-peach: #dcd9d7;
      --very-light-pink: #f3f2f1;
      --brown: #594800;
      --marine-blue: #003754;
      --charcoal-grey: #364445;
      --pale: #e8e4e1;
      --grape-purple: #40171d;
      --dark-forest-green: #002e19;
  }

  .LargeHeadline1 {
    font-family: Klavika;
    font-size: 56px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline2 {
    font-family: Klavika;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline1 {
    font-family: Klavika;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline3 {
    font-family: Klavika;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeSublineH1 {
    font-family: Klavika;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeCategory1 {
    font-family: Klavika;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.6px;
    color: var(--brown-grey);
  }
  .SmallHeadline1 {
    font-family: Klavika;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeIntro {
    font-family: Klavika;
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline3 {
    font-family: Klavika;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumSublineH1 {
    font-family: Klavika;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline4 {
    font-family: Klavika;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largeaccordeon1 {
    font-family: Klavika;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .LargeSublineH4 {
    font-family: Klavika;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largenavigation2 {
    font-family: Klavika;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .MediumCategory1 {
    font-family: Klavika;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.2px;
    color: var(--brown-grey);
  }
  .MediumIntro {
    font-family: Klavika;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumHeadline4 {
    font-family: Klavika;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumSubline1H4 {
    font-family: Klavika;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeHeadline5 {
    font-family: Klavika;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumaccordeon1 {
    font-family: Klavika;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .LargeBody1compact {
    font-family: Klavika;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeBody1regularLH {
    font-family: Klavika;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumnavigation2 {
    font-family: Klavika;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .SmallCategory1 {
    font-family: Klavika;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--brown-grey);
  }
  .SmallIntro {
    font-family: Klavika;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--black);
  }
  .Largeaccordeon2 {
    font-family: Klavika;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .Largenavigation1 {
    font-family: Klavika;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .MediumHeadline5 {
    font-family: Klavika;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallaccordeon1 {
    font-family: Klavika;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .MediumBody1compact {
    font-family: Klavika;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumBody1regularLH {
    font-family: Klavika;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallnavigation2 {
    font-family: Klavika;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .LargeButton {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }
  .LargeLink {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--black);
  }
  .Mediumaccordeon2 {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--ocean-blue);
  }
  .Mediumnavigation1 {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .SmallHeadline5 {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .Smallnavigation1 {
    font-family: Klavika;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--brown-grey);
  }
  .LargeBody2 {
    font-family: Klavika;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallBody1compact {
    font-family: Klavika;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallBody1regularLH {
    font-family: Klavika;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumButton1 {
    font-family: Klavika;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .SmallButton {
    font-family: Klavika;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }
  .SmallIcontext {
    font-family: Klavika;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: var(--brown-grey);
  }
  .Largecaption {
    font-family: Klavika;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
  }
  .MediumBody2 {
    font-family: Klavika;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black);
  }
  .LargeCategory2 {
    font-family: Klavika;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.6px;
    color: var(--black);
  }
  .Mediumcaption {
    font-family: Klavika;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }
  

  .normalButton{
    color:var(--white);
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    background: var(--ocean-blue);
    border: none;
}

.normalButton:hover{
  background: var(--marine-blue);
}