<!-- rename Story Modal-->

<ng-template #renameStoryModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="modalHeader" class="MediumSubline1H4 modal-title">Change Story Title</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="storyForm" novalidate [disabled]="!storyForm.valid">
            <div class="form-group modalsContent">
                <div>
                    <label>Edit Story Title</label>
                    <input id="newStoryTitle" type="text" name="newStoryTitle"
                       formControlName="storyTitle" (keyup)="storyUnique()" required>
                </div>
            </div>
            <div >
                <span>Edit Story Description</span>
                <textarea formControlName="storyDescription" id="newStoryDescription"></textarea>
            </div>
            <div class="modal-footer">
                <button id="submitRenameStory" type="submit" class="normalButton" [disabled]="!storyForm.valid"
                [ngStyle]="{'opacity': !storyForm.valid ?  '50%' : '100%'}">Submit
                </button>
            </div>
        </form>

    </div>
</ng-template>
