<!-- rename Story Modal-->

<ng-template #renameStoryModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span id="modalHeader"class="MediumSubline1H4 modal-title">Change Story Title</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-xl">
        <div class="uk-card-title submitForm">
            <div>
                <form>
                    <div class="padding_top modalsContent">
                        <span >Enter unique story name</span>
                        <span class="material-icons" display-title="Enter unique story name">drive_file_rename_outline</span>
                        <div class="inputField">
                            <input type="text" id="newStoryTitle" placeholder="New title">
                        </div>
                                            
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="normalButton" (click)="submitRenameStory(); modal.close('Save click')">Submit
        </button>
    </div>
</ng-template>