.uk-card-title {
    font-size: medium;
}

.padding_top{
    padding-top: 10px;
}

.padding_right{
    padding-right: 10px;
}

.modal-body.modal-xl{
    padding: 10px;
}

.submitForm{
    width: 100%
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.uk-form-label {
    color: black;
}

.material-icons{
    color: var(--brown-grey);
    margin-right: 10px;
    opacity: 70%;
    margin: 0px 10px 0px 5px;
}
