<!--Change Jira-Account Modal-->
<ng-template #changeJiraAccountModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <h4 class="modal-title">Change Jira-Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="submitForm">
            <div>
                <form>
                    <div class="form-group modalsContent" id="jiraForm" *ngIf="type==='Jira'">
                        <div class="labelField" id="inputLabels">
                            <label class="uk-form-label">Enter existing account name</label>
                            <br>
                            <label class="uk-form-label">Enter password</label>
                            <br>
                            <label class="uk-form-label">Enter server URL</label>
                        </div>
                        <div class="inputField">
                            <input  id="jiraAccountName">
                            <br>
                            <input id="jira_password" " type="password">
                            <br>
                            <input id="jiraHost">
                        </div>                  
                    </div>
                    <div id="githubForm" *ngIf="type==='Github'">
                        <div class="padding_top uk-form-horizontal">
                            <label class="padding_right">Github-AccountName:</label>
                            <input id="githubAccountName">
                        </div>
                        <div class="padding_top uk-form-horizontal">
                            <label class="padding_right">Github-Token:</label>
                            <input id="githubToken">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="normalButton" (click)="changeJiraAccountSubmit(); modal.close('Save click')">Submit
        </button>
    </div>
</ng-template>
