<div class="modal-header">
  <span mat-dialog-title id="modalHeader" class="MediumSubline1H4 modal-title"
    >Import project</span
  >
  <dfn class="def"
    ><span class="infoIcon" uk-icon="info"></span>
    <span rel="def"
      >You are about to import test cases into either an existing project or a
      new project. Select the .zip file you want to upload and choose if you
      want to import into an existing project or create a new project.
    </span>
  </dfn>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div mat-dialog-content>
  <form (ngSubmit)="importTestCases(file)" #importForm="ngForm">
    <div class="error-container" *ngIf="errorMessage">
      <mat-icon class="error-icon">error</mat-icon>
      <div class="error-message">{{ errorMessage }}</div>
    </div>

    <input
      type="file"
      name="fileInput"
      (change)="handleFileInput($event)"
      accept=".zip"
    />
    <div class="toggle-container">
      <span class="import-label">Import into:</span>
      <mat-slide-toggle
        [(ngModel)]="isNewProject"
        color="primary"
        (ngModelChange)="onSlideToggleChange()"
      ></mat-slide-toggle>
      <span class="toggle-label" [ngClass]="{ 'text-primary': isNewProject }">
        {{ isNewProject ? "New Project" : "Existing Project" }}
      </span>
    </div>

    <!-- Zeige das Eingabefeld für den Projektname basierend auf isNewProject -->
    <input
      type="text"
      name="projectNameInput"
      [(ngModel)]="projectName"
      [hidden]="!isNewProject"
      placeholder="Project name"
      (ngModelChange)="onProjectChange()"
    />

    <!-- Zeige das Eingabefeld für die Suche basierend auf !isNewProject -->

    <div [hidden]="isNewProject">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search for project"
      />

      <mat-form-field appearance="standard" class="filterFormField">
        <mat-label [hidden]="filterRepositories(searchTerm).length === 0"
          >Project</mat-label
        >
        <mat-label [hidden]="!(filterRepositories(searchTerm).length === 0)"
          >No Projects found</mat-label
        >
        <mat-select
          #ngSelect
          [(ngModel)]="importingRepoId"
          (ngModelChange)="onProjectChange()"
        >
          <mat-option
            *ngFor="let repo of filterRepositories(searchTerm)"
            [value]="repo._id"
            >{{ repo.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div class="toggle-container">
        <span class="import-label">Import mode:</span>
        <mat-slide-toggle
          [(ngModel)]="importMode"
          color="primary"
          (ngModelChange)="onImportToggleChange()"
        >
        </mat-slide-toggle>
        <span class="toggle-label" [ngClass]="{ 'text-primary': !importMode }">
          {{ importMode ? "Rename mode" : "Overwrite mode" }}
        </span>
        <span class="warning-text" *ngIf="!importMode">
          Caution: Overwriting existing test cases cannot be undone!
        </span>
      </div>
    </div>
    <br />
    <button
      mat-raised-button
      class="normalButton"
      color="primary"
      type="submit"
    >
      Import
    </button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="normalButton" color="warn">
    Cancel
  </button>
</div>
