.import-label {
  margin-right: 16px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.toggle-label {
  margin-left: 16px;
  margin-right: 16px;
}

.error-container {
  display: flex;
  align-items: center;
  color: red;
  margin-bottom: 10px;
}

.error-icon {
  margin-right: 10px;
  font-size: 24px;
}

.error-message {
  font-size: 18px;
}

span.infoIcon {
  color: white;
}

.warning-text {
  color: red;
}

.searchInputProject, .projectNameInput{
  border: none;
  border-bottom: 1px solid var(--brown-grey);
  font-weight: normal;
  width: 50%;
  max-height: 2em;
  margin-top: 1.75em;
}
.searchInputProject:focus, .projectNameInput:focus{
  outline: none;
}
.searchProject{
  display: flex;
  align-items: end;
  gap: 2rem;
  margin-bottom: 2rem;
}
.searchFieldContainer, .projectDropDownContainer{
  flex: 1;
}
.searchFieldContainer{
  display: flex;
  align-items: end;
}
.searchFieldContainer .searchInputProject{
  width: 100%;
}
.searchInputProject{
  border: none;
  border-bottom: 1px solid var(--brown-grey);
  font-weight: normal;
  width: 50%;
  max-height: 2em;
  margin-top: 1.75em;
}