<!--Create New Story in custom project-->
<ng-template #createNewStoryModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div (keydown)="enterSubmit($event)">
        <div class="modal-header">
            <span class="MediumSubline1H4 modal-title" id="modal-basic-title">Create new story</span>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group modalsContent">
                    <div class="labelField" id="inputLabels" >
                        <label class="uk-form-label">Enter unique story title*</label>
                    </div>
                    <div class="inputField" >
                        <input id="storytitle" [(ngModel)]="storytitle" placeholder=" Title" name="storytitle" (keyup)="storyUnique($event, storytitle, stories)" required></div>
                    </div>
                <textarea [(ngModel)]="storyDescription" name="storydescription" id="storydescription" placeholder="Enter a brief description of your test story"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="createNewStory" class="normalButton" (click)="onClickSubmit($event)">Save</button>
        </div>
    </div>
</ng-template>