
  .modal-title{
    color: var(--white);
  }
  
  .modal-header{
    background-color: var(--ocean-blue);
  }

  .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  .modal-footer{
    height: 60px;
  }

  .close{
    color: var(--white);
    outline: none;
  }