::ng-deep .modal-title{
    color: var(--white);
}

::ng-deep .modal-dialog{
    max-width: 800px;
}
  
::ng-deep .modal-header{
    background-color: var(--ocean-blue);
    align-items: center;
}

::ng-deep .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

::ng-deep .modal-footer{
    height: 60px;
}

::ng-deep .close{
    color: var(--white);
    outline: none;
} 

::ng-deep .uk-form-label {
  color: black;
}

::ng-deep span[rel=def] {
  top: 1em;
  left: 16em;
}

::ng-deep span[display-title] {
  position: relative;
}

::ng-deep span[display-title]:hover::before {
  content: attr(display-title);
  position: absolute;
  display: inline-block;
  padding: 5px;
  background: var(--brown-grey);
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  top: -19.55px;
}

::ng-deep .darkTheme span[display-title]:hover::before{
    background: #60767b;
}

::ng-deep .darkTheme .modal-header{
    background-color: black;
    border-bottom: 1px solid #60767b;
}

::ng-deep .darkTheme .modal-body {
    background-color: #455A64;
}

::ng-deep .darkTheme .modal-footer {
    background-color: #455A64;
    border-top: 1px solid #60767b;
}

::ng-deep .darkTheme .close{
    background-color: transparent;
}

  ::ng-deep .darkTheme input.wrongEmail {
    border-left: 5px solid red;
}

::ng-deep .darkTheme textarea {
    background: transparent;
    border-color: #60767b;
    color: white;
}

::ng-deep .darkTheme .mat-table .mat-cell:first-child, .darkTheme .mat-table .mat-header-cell:first-child{
    border-right: 1px solid #60767b;
}

::ng-deep .darkTheme .mat-table{
    background: #455A64;
}

::ng-deep .darkTheme .blockNameContainer {
    border-bottom: 1px solid #60767b;
}

::ng-deep .darkTheme .modal-content{
    background: #455A64;
}

::ng-deep .darkTheme .savedBlocksContainer, ::ng-deep .darkTheme .previewContainer {
    border: 1px solid #60767b;
}

::ng-deep .darkTheme .def:hover span[rel=def] {
    background-color: white;
}

::ng-deep .darkTheme .wrongEmail {
    background-color: red;
}

::ng-deep .darkTheme br {
    border: 1px solid #60767b;
}

::ng-deep .darkTheme p {
    color: white;
}




