  ::ng-deep *{
    font-family: Klavika, sans-serif;
  }

  ::ng-deep .modal-title{
    color: var(--white);
  }
  
  ::ng-deep .modal-header{
    background-color: var(--ocean-blue);
    align-items: center;
  }

  ::ng-deep .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  ::ng-deep .modal-footer{
    height: 60px;
  }

  ::ng-deep .close{
    color: var(--white);
    outline: none;
  }

  ::ng-deep .modal-dialog{
    max-width: 800px;

  }

  ::ng-deep .modalsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

::ng-deep .inputField {
    display: grid;
  }

::ng-deep .labelField {
    display: grid;
    justify-items: end;
    margin-right: 10px;
    align-content: inherit;
  }

::ng-deep .uk-form-label {
  color: black;
}