*{
    font-family: Klavika, sans-serif;
}

  .modal-title{
    color: var(--white);
  }
  
  .modal-header{
    background-color: var(--ocean-blue);
    align-items: center;
  }

  .modal-body{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-footer{
    height: 60px;
  }

  .close{
    color: var(--white);
    outline: none;
  }