.mat-column-checkStory {
    width: 10% !important;
}

#inputLabels label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.material-icons{
    color: var(--brown-grey);
    margin-right: 10px;
    opacity: 70%;
    margin: 0px 10px 0px 5px;
}
