<!--Update Group -->
<ng-template #updateGroupModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span class="MediumSubline1H4 modal-title">Update Group</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateGroupForm="ngForm" novalidate (ngSubmit)="updateGroup(updateGroupForm)">
            <div class="form-group groupouterdiv modalsContent">
                <div class="modalsContent">
                    <div>
                        <label class="uk-form-label">Change group name</label>
                        <input name="title" id="grouptitle" ngModel [ngModel]="groupTitle"
                         pattern="\S(.*\S)?" style="margin-left: 24px;" (keyup)="groupUnique(updateGroupForm)" required>
                    </div>
                    <div >
                        <label class="uk-form-label">Find story </label>
                        <div class="searchWrapper">
                            <em class="material-icons emoticon" id="searchBarIcons"
                            [style.opacity]="searchInput.value == '' ? '0.5' : '0.0'">search</em>
                            <input name="searchInput" ngModel #searchInput="ngModel" (keyup)="searchOnKey($event.target.value)"> 
                        </div>
                    </div>
                </div>
                <div class="alignContent toggleWrapperMargin">
                    <span style="margin-right: 5px;">Run story sequentially or parallelly
                        <dfn class="def">
                            <span class="icon" uk-icon="info"></span>
                            <span rel="def">Disable toggle to run stories parallelly. Enabled toggle runs stories
                            sequentially.</span>
                        </dfn>
                    </span>
                    <mat-icon>alt_route</mat-icon>
                    <mat-slide-toggle name="slideToggleUpdate" [(ngModel)]="this.isSeq"></mat-slide-toggle>
                    <mat-icon>format_list_numbered</mat-icon> 
                </div>
                <br>
                <div style="width: 100%;">
                    <table id="storiesTable" mat-table [dataSource]="filteredStories" class="mat-elevation-z8" aria-describedby="mydesc">
                        <ng-container matColumnDef="story">
                          <th id="workgroupEmailCell" mat-header-cell *matHeaderCellDef> Story </th>
                          <td mat-cell *matCellDef="let element"> 
                            <div class="emailTableContainer">
                                <span>{{element.title}} </span>
                            </div> 
                          </td>
                        </ng-container>
        
                        <ng-container  matColumnDef="checkStory">
                            <th id="checkboxStory" class="editColumn" mat-header-cell *matHeaderCellDef> Select story </th>
                            <td mat-cell *matCellDef="let element">
                                <input type="checkbox" [checked]="isStoryChecked(element)"(change)="selectStory(element)">
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStories"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStories;"></tr>
                    </table> 
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="normalButton deleteButton" (click)="deleteGroup($event); modal.dismiss()">Delete</button>
                <button id="submitUpdateGroup" type="submit" class="normalButton"
                [disabled]="!updateGroupForm.valid" [ngStyle]="{'opacity': !updateGroupForm.valid ?  '50%' : '100%'}">Update</button>
            </div>
        </form>
    </div>
    
</ng-template>
