<!--Update Group -->
<ng-template #updateGroupModal let-modal>
    <app-layout-modal></app-layout-modal>
    <div class="modal-header">
        <span class="MediumSubline1H4 modal-title">Update Group</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group groupstoryselectionouter">
                <div class="modalsContent">
                    <div class="inputField">
                        <label class="uk-form-label labelField">Change group name</label>
                        <br>
                        <label class="uk-form-label">Find story </label> 
                    </div>
                    <div class="inputField">
                        <input [(ngModel)]="groupTitle" (keyup)="groupUnique($event, groupTitle, groups, scrGroup)" name="title">
                        <br>
                        <div class="searchWrapper">
                            <em class="material-icons emoticon" id="searchBarIcons"
                            [style.display]="searchInput.value == '' ? 'inherit' : 'none'">search</em>
                            <input name="searchInput" ngModel #searchInput="ngModel" (keyup)="searchOnKey($event.target.value)"> 
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <table id="storiesTable" mat-table [dataSource]="filteredStories" class="mat-elevation-z8" aria-describedby="mydesc">
                        <ng-container matColumnDef="story">
                          <th id="workgroupEmailCell" mat-header-cell *matHeaderCellDef> Story </th>
                          <td mat-cell *matCellDef="let element"> 
                            <div class="emailTableContainer">
                                <label>{{element.title}} </label>
                            </div> 
                          </td>
                        </ng-container>
        
                        <ng-container  matColumnDef="checkStory">
                            <th class="editColumn" mat-header-cell *matHeaderCellDef> Select story </th>
                            <td mat-cell *matCellDef="let element">
                                <input type="checkbox" [checked]="isStoryChecked(element)"(change)="selectStory(element)">
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsStories"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsStories;"></tr>
                      </table> 
                </div>                
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="normalButton deleteButton" (click)="deleteGroup($event); modal.dismiss()">Delete</button>
        <button id="groupUpdate" type="button" class="normalButton" (click)="updateGroup($event); modal.close('Save click')">Update</button>
    </div>
</ng-template>