* {
    padding: 0px;
    margin: 0px;
    font-family: Klavika, sans-serif;
}

h1{
    margin: 5px;
}

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "howToStart" "formular";
    /* background-color: var(--white); */
    place-items: center;
}

.formular{
    grid-area: formular;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
    /* background-color: var(--white); */
    padding: 80px 50px 20px;
    margin-bottom: 80px;
}

.howToStart {
    grid-area: howToStart;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--white);
    padding: 50px 10px 50px;
    text-align: center;
    font-size: small;
}

.darkTheme .howToStart {
    background-color: #455A64;
}

.instructionText{
    width: 350px;
    border: double 5px var(--dark-grey);
    padding: 30px;
}

.darkTheme .instructionText {
    border: double 5px #90A4AE;
}

.req{
    text-decoration: underline;
}

#headerFont{
    color:var(--ocean-blue);
}

.darkTheme #headerFont {
    color:var(--light-blue);
}


.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.darkTheme .uk-form-controls {
    background: #455A64;
}

.linkButton{
    font-style: inherit;
    border: 0px;
    background-color: transparent;
    color:var(--ocean-blue);
    font-size: 10pt;
    font-weight: bold;
    outline: none;
}

.darkTheme .linkButton {
    color: var(--light-blue);
}

@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "howToStart" "formular";
    }
}