* {
    padding: 0px;
    margin: 0px;
    font-family: Klavika, sans-serif;
}

h1{
    margin: 5px;
}

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "howToStart" "formular";
    /* background-color: var(--white); */
    place-items: center;
}

.formular{
    grid-area: formular;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
    /* background-color: var(--white); */
}

.howToStart {
    grid-area: howToStart;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--white);
    padding: 50px 10px 50px;
    text-align: center;
    font-size: small;
}

.darkTheme .howToStart {
    background-color: #455A64;
}

.instructionText{
    width: 350px;
    border: double 5px var(--dark-grey);
    padding: 30px;
}

.darkTheme .instructionText {
    border: double 5px #90A4AE;
}

.req{
    text-decoration: underline;
}

#headerFont{
    color:var(--ocean-blue);
}

.darkTheme #headerFont {
    color:var(--light-blue);
}


.uk-form-controls{
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.darkTheme .uk-form-controls {
    background: #455A64;
}

.linkButton{
    font-style: inherit;
    border: 0px;
    background-color: transparent;
    color:var(--ocean-blue);
    font-size: 10pt;
    font-weight: bold;
    outline: none;
}

.darkTheme .linkButton {
    color: var(--light-blue);
}

@media screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "howToStart" "formular";
    }
}

.wrongReset{
    background-color: var(--grape);
    text-align: center;
    padding: 5px;
}

.successReset{
    background-color: var(--green);
    text-align: center;
    padding: 5px;
}

.resetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    margin: 20px;
    width: 390px;
    border-radius: 4px;
}

.horCenetered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.vertCentered {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#resetText {
    font-size: 14px;
    width: 300px;
    margin-bottom: 15px;
    text-align: center;
}

.darkLock {
    width: 80px;
    margin: 20px;
    stroke: white;
    opacity: 80%;

}

.lightLock {
    width: 80px;
    margin: 20px;
    stroke: var(--dark-grey);
}

.centered-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    margin: 0 20px;
  }

#orLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
    opacity: 70%;
    font-size: 12px;
}

#returnButton {
    margin-top: 145px;
    width: inherit;
    margin-left: 0px;
    margin-right: 0px;
    font-style: inherit;
    font-size: 10pt;
    font-weight: bold;
    outline: none;
    padding: 10px !important;
    border: 2px solid gray;
    border-bottom: 0px;
    border-radius: 4px;
}

#sendReset {
    width: 100%;
    border-radius: 4px;
}