<div [class.darkTheme]="isDarkModeOn()" class="grid">
 
  <div class="howToStart">
    <div class="uk-text-secondary instructionText">
        <h3 class="LargeSublineH4">Can't log in?</h3>
        <br>
        <hr>
        <br>
        <h6 class="req SmallHeadline5"><strong>1.Don't have an account yet?</strong></h6>
        <p class="MediumBody2">If you don't have an account yet you can register an new account 
        <button class="linkButton" (click)="redirectToRegister();">here.</button>
        <br>
        <br>
        <h6 class="req SmallHeadline5"><strong>2. Reset password for an existing account</strong></h6>
        <p class="MediumBody2">If you already have an account but forgot your password you can reset your password here.
        <br>
        <br>
        1. Type in the e-mail address connected to your account.
        <br>
        2. Choose a new password of miminum 8 characters.
        <br>
        3. Press the 'reset' button and you will receive an automated e-mail with a reset-token.
        </p>
    </div>
  </div>

  <div class="formular"> 
    <!-- Formular -->
    <h1 id="headerFont" class="MediumHeadline1">Reset Your Password</h1>
    <form #form="ngForm" novalidate (ngSubmit)="requestReset(form)"> 
      <br>
      <hr>
      <br>
    <!--Input Email-->
      <label class="uk-form-label"></label>
      <input id="email" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email*" #email ngModel class="uk-form-controls input" required>
      <br>
      <br>
    
    <!--Reset Button -->
      <button class="normalButton" type="submit" [disabled]="form.invalid">Reset Password</button>
    </form>
  </div>
</div>
  