<mat-menu #appMenu="matMenu" class="custom-menu">
    <div class="modal-header">
        <span id="windowSizeHeader" class="SmallSubline1H4 modal-title">Change Window-Size</span>
        <button type="button" class="close" aria-label="Close" (click)="closeMenu()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (click)="handleFormClick($event)">
        <div class="inputFields">
            <mat-form-field appearance="fill">
                <mat-label>Width</mat-label>
                <input [(ngModel)]="this.width" name="Width" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Height</mat-label>
                <input [(ngModel)]="this.height" name="Height" matInput>
            </mat-form-field>
        </div>
        <hr>
        <div class="menu-actions">
            <button class="normalButton defaultButton" mat-button (click)="saveWindowSize($event)">Save</button>
            <button class="normalButton defaultButton" mat-button (click)="setDefaultWindowSize()">Restore default
                size</button>
        </div>
    </form>
</mat-menu>
<button class="button-4" [matMenuTriggerFor]="appMenu">Window-Size</button>
