mat-dialog-container {
    border-radius: 15px;
    padding: 20px;
  }
  h1 {
    color: #3f51b5;
  }
  mat-form-field {
    width: 100%;
    margin-top: 20px;
  }
  .button {
    margin-right: 3px;
    margin-top: 30px;
    color:var(--white);
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background: var(--ocean-blue);
    border: none;
    line-height: 25px;
  }